include ../moderation/_docs.pug

mixin moder-item(type)
	+b.moder-item&attributes(attributes)
		block
		if (type == "worker")
			+e.col
				+e.title
					span Оксана Руднева  |  44880
					+e.title-ico
						+icon('success')
				+e.address
					+e.address-icon
						+icon('map')
					+e.address-text Геленджик, (Улиц) 44,5563493 38,0935451
				+e.line
					+e.posted
						+e.posted-icon
							+icon('medal')
						+e.posted-text Posted by 
							a(href="#") Ирина Иванова(942352)
					+e.date
						+e.date-icon
							+icon('clock')
						+e.date-text Сегодня 03/20/2018 15:06
					+e.icons
						+e('button').button_refresh
							+icon('refresh')
						+e('button').button_date
							+icon('date')
				+e.tabs
					+e('button').tab_active НЯНЯ
					+e('button').tab СИДЕЛКА
					+e('button').tab_active РЕПЕТИТОР
					+e('button').tab ДОМОРАБОТН.
					+e('button').tab ЗООНЯНЯ
				+e.cols
					+e.row.form__row
						+e('label').label.form__label Телефон
						+e.input-wrapper.form__input-wrapper
							+e('input').input.form__input(type="text", placeholder="8 992 232 12 54")
							+e('span').status.form__status
								+icon('success')
							+e.loader.loader
					+e.row.form__row
						+e('label').label.form__label Почта
						+e.input-wrapper.form__input-wrapper
							+e('input').input.form__input(type="email", placeholder="mail4mail@gmail.com")
							+e('span').status.form__status
								+icon('successyellow')
							+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label О своем опыте работы с детьми
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_exp.form__textarea ЛИЦ ИЗ СРЕДНЕЙ АЗИИ ПРОСЬБА НЕ БЕСПОКОИТЬ. Семье из 3х человек (2 взрослых и один годовалый ребенок), проживающих в квартире 110м2, требуется домработница 3 раза в неделю (например понедельник-среда-пятница или вторник-четверг-суббота)
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label О своем образовании
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_edu.form__textarea Подробнее об обязанностях: влажная и сухая уборка, стирка (стиральная машина), глажка, мытье посуды (ПММ), работа с гардеробом: поддержание в чистоте полок, складывание одежды, уход за обувью (в том числе замшевой) и галантереей, с апреля по октябрь мытьё одного из окон раз в неделю по кругу. Соответственно количество часов работы регулируете сами, при условии выполнения всего вышеперечисленного. Оплата по договоренности.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label О себе
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_about.form__textarea Подробнее об обязанностях: влажная и сухая уборка, стирка (стиральная машина), глажка, мытье посуды (ПММ), работа с гардеробом: поддержание в чистоте полок, складывание одежды, уход за обувью 
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label
						| Рекомендация 1
						+e.label-right  Иван | mail@mail.com | 8 930 293 22 99
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_rec.form__textarea Здравствуйте. Я без вредных привычек. Пунктуальная, трудолюбивая, не конфликтная. Умею ладить с детьми и пожилыми людьми. умею готовить. Легко обучаемая.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Комментарии для расписания
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_comm.form__textarea Здравствуйте. Я без вредных привычек. Пунктуальная, трудолюбивая, не конфликтная. Умею ладить с детьми и пожилыми людьми. умею готовить. Легко обучаемая.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Выбрать шаблон сообщения для отправки
					+e.input-wrapper.form__input-wrapper.form__input-wrapper_select.form__input-wrapper_button
						+e.input-icon.form__input-icon
							+icon('arrows')
						+e('select').select.form__select
							+e('option').option(selected="selected") Рекомендации по заполнению фото
							+e('option').option Один
							+e('option').option Два
						+e('button').button_orange.button.button_orange отправить
						+e.loader.loader
				+e.row.form__row
					+e('button').button_link.button.button_link Редактировать на фронте
			+e.col_second
				+e.img-wrapper
					+e('img').img(src="/common/assets/img/tmp/ava.jpg")
					+e.img-footer
						+e('button').button_update
							+icon('update')
						+e('button').button_remove
							+icon('trash2')
						+e('button').button_block
							+icon('block')
				+e.info
					strong Last Login: 
					span Сегодня
				+e.info
					strong Create: 
					span Март 8, 2010
				+e.info
					strong Start Date: 
					span Март 20, 2018
				+e.info
					strong Возраст:	
					span 45 Лет  (22.11.1885)
				+e.docs
					+docs
			+e.bottom
				+e.bottom-inner
					+e.bottom-item
						+e.bottom-icon
							+icon('message2')
						+e.bottom-text Сообщения чата
					+e.bottom-item
						+e.bottom-icon
							+icon('order')
						+e.bottom-text Заказы
					+e.bottom-item
						+e.bottom-icon
							+icon('subscribe')
						+e.bottom-text Подписки
					+e.bottom-item
						+e.bottom-icon
							+icon('log')
						+e.bottom-text Log рассылок
			+e.footer
				+e.footer-inner
					+e('form').footer-form
						+e('button').button_green.button.button_green ПРОВЕРЕННО
					+e('form').footer-form
						+e('button').button_red.button.button_red ОТКЛОНИТЬ
		else if (type == "worker2")
			+e.col
				+e.title
					span Оксана Руднева  |  44881
					+e.title-ico
						+icon('successred')
				+e.address
					+e.address-icon
						+icon('map')
					+e.address-text Геленджик, (Улиц) 44,5563493 38,0935451
				+e.line
					+e.posted
						+e.posted-icon
							+icon('medal')
						+e.posted-text Posted by 
							a(href="#") Ирина Иванова(942352)
					+e.date
						+e.date-icon
							+icon('clock')
						+e.date-text Сегодня 03/20/2018 15:06
					+e.icons
						+e('button').button_refresh
							+icon('refresh')
						+e('button').button_date
							+icon('date')
				+e.tabs
					+e('button').tab_active НЯНЯ
					+e('button').tab СИДЕЛКА
					+e('button').tab_active РЕПЕТИТОР
					+e('button').tab ДОМОРАБОТН.
					+e('button').tab ЗООНЯНЯ
				+e.cols
					+e.row.form__row
						+e('label').label.form__label Телефон
						+e.input-wrapper.form__input-wrapper
							+e('input').input.form__input(type="text", placeholder="8 992 232 12 54")
							+e('span').status.form__status
								+icon('successred')
							+e.loader.loader
					+e.row.form__row
						+e('label').label.form__label Почта
						+e.input-wrapper.form__input-wrapper
							+e('input').input.form__input(type="email", placeholder="mail4mail@gmail.com")
							+e('span').status.form__status
								+icon('successred')
							+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label О своем опыте работы с детьми
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_exp.form__textarea ЛИЦ ИЗ СРЕДНЕЙ АЗИИ ПРОСЬБА НЕ БЕСПОКОИТЬ. Семье из 3х человек (2 взрослых и один годовалый ребенок), проживающих в квартире 110м2, требуется домработница 3 раза в неделю (например понедельник-среда-пятница или вторник-четверг-суббота), 
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label О своем образовании
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_edu.form__textarea Подробнее об обязанностях: влажная и сухая уборка, стирка (стиральная машина), глажка, мытье посуды (ПММ), работа с гардеробом: поддержание в чистоте полок, складывание одежды, уход за обувью (в том числе замшевой) и галантереей, с апреля по октябрь мытьё одного из окон раз в неделю по кругу. Соответственно количество часов работы регулируете сами, при условии выполнения всего вышеперечисленного. Оплата по договоренности.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label О себе
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_about.form__textarea Подробнее об обязанностях: влажная и сухая уборка, стирка (стиральная машина), глажка, мытье посуды (ПММ), работа с гардеробом: поддержание в чистоте полок, складывание одежды, уход за обувью 
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Рекомендация 1
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_rec.form__textarea Здравствуйте. Я без вредных привычек. Пунктуальная, трудолюбивая, не конфликтная. Умею ладить с детьми и пожилыми людьми. умею готовить. Легко обучаемая.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Выбрать шаблон сообщения для отправки
					+e.input-wrapper.form__input-wrapper.form__input-wrapper_select.form__input-wrapper_button
						+e.input-icon.form__input-icon
							+icon('arrows')
						+e('select').select.form__select
							+e('option').option(selected="selected") Рекомендации по заполнению фото
							+e('option').option Один
							+e('option').option Два
						+e('button').button_orange.button.button_orange отправить
						+e.loader.loader
				+e.row.form__row
					+e('button').button_link.button.button_link Редактировать на фронте
			+e.col_second
				+e.img-wrapper_disabled
					+e('img').img(src="/common/assets/img/moderation/placeholder.jpg")
					+e.img-footer
						+e('button').button_remove
							+icon('trash2')
						+e('button').button_block
							+icon('block')
				+e.info
					strong Last Login: 
					span Сегодня
				+e.info
					strong Create: 
					span Март 8, 2010
				+e.info
					strong Start Date: 
					span Март 20, 2018
				+e.info
					strong Возраст:	
					span 45 Лет  (22.11.1885)
				+e.docs
					+docs
			+e.bottom
				+e.bottom-inner
					+e.bottom-item
						+e.bottom-icon
							+icon('message2')
						+e.bottom-text Сообщения чата
					+e.bottom-item
						+e.bottom-icon
							+icon('order')
						+e.bottom-text Заказы
					+e.bottom-item
						+e.bottom-icon
							+icon('subscribe')
						+e.bottom-text Подписки
					+e.bottom-item
						+e.bottom-icon
							+icon('log')
						+e.bottom-text Log рассылок
			+e.footer
				+e.footer-inner
					+e('form').footer-form
						+e('button').button_green.button.button_green ПРОВЕРЕННО
					+e('form').footer-form
						+e('button').button_red.button.button_red ОТКЛОНИТЬ
		else
			+e.col
				+e.title Домработница/помощница  |  44880
					+e.title-ico
						+icon('success')
				+e.address
					+e.address-icon
						+icon('map')
					+e.address-text Санкт-Петербург, Петроградская 59,961764 30,302133
				+e.line
					+e.posted
						+e.posted-icon
							+icon('medal')
						+e.posted-text Posted by 
							a(href="#") Ирина Иванова(942352)
					+e.date
						+e.date-icon
							+icon('clock')
						+e.date-text Сегодня 03/20/2018 15:06
					+e.icons
						+e('button').button_refresh
							+icon('refresh')
						+e('button').button_date
							+icon('date')
				+e.row.form__row
					+e('label').label.form__label Название вакансии
					+e.input-wrapper.form__input-wrapper
						+e('input').input.form__input(type="text", placeholder="Домработница/помощница")
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Описание вакансии
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea.form__textarea ЛИЦ ИЗ СРЕДНЕЙ АЗИИ ПРОСЬБА НЕ БЕСПОКОИТЬ. Семье из 3х человек (2 взрослых и один годовалый ребенок), проживающих в квартире 110м2, требуется домработница 3 раза в неделю (например понедельник-среда-пятница или вторник-четверг-суббота), без вредных привычек и хронических заболеваний, чистоплотная, выносливая, аккуратная, сдержанная, адекватно воспринимающая советы и замечания. Подробнее об обязанностях: влажная и сухая уборка, стирка (стиральная машина), глажка, мытье посуды (ПММ), работа с гардеробом: поддержание в чистоте полок, складывание одежды, уход за обувью (в том числе замшевой) и галантереей, с апреля по октябрь мытьё одного из окон раз в неделю по кругу. Соответственно количество часов работы регулируете сами, при условии выполнения всего вышеперечисленного. Оплата по договоренности.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Комментарии для расписания
					+e.input-wrapper.form__input-wrapper
						+e('textarea').textarea_comm.form__textarea Здравствуйте. Я без вредных привычек. Пунктуальная, трудолюбивая, не конфликтная. Умею ладить с детьми и пожилыми людьми. умею готовить. Легко обучаемая.
						+e('button').button.button.button_orange.button_full Сохранить
						+e('span').status.form__status
						+e.loader.loader
				+e.row.form__row
					+e('label').label.form__label Выбрать шаблон сообщения для отправки
					+e.input-wrapper.form__input-wrapper.form__input-wrapper_select.form__input-wrapper_button
						+e.input-icon.form__input-icon
							+icon('arrows')
						+e('select').select.form__select
							+e('option').option(selected="selected") Рекомендации по заполнению фото
							+e('option').option Один
							+e('option').option Два
						+e('button').button_orange.button.button_orange отправить
						+e.loader.loader
				+e.row.form__row
					+e('button').button_link.button.button_link Редактировать на фронте
			+e.col_second
				+e.img-wrapper
					+e('img').img(src="/common/assets/img/moderation/placeholder.jpg")
					+e.img-footer
						+e('button').button_update
							+icon('update')
						+e('button').button_remove
							+icon('trash2')
						+e('button').button_block
							+icon('block')
				+e.info
					strong Salary: 
					span Договорная
				+e.info
					strong Start Date: 
					span Март 20, 2018
			+e.bottom
				+e.bottom-inner
					+e.bottom-item
						+e.bottom-icon
							+icon('message2')
						+e.bottom-text Сообщения чата
					+e.bottom-item
						+e.bottom-icon
							+icon('order')
						+e.bottom-text Заказы
					+e.bottom-item
						+e.bottom-icon
							+icon('subscribe')
						+e.bottom-text Подписки
					+e.bottom-item
						+e.bottom-icon
							+icon('log')
						+e.bottom-text Log рассылок
			+e.footer
				+e.footer-inner
					+e('form').footer-form
						+e('button').button_green.button.button_green(disabled) ПРОВЕРЕННО
					+e('form').footer-form
						+e('button').button_red.button.button_red ОТКЛОНИТЬ
			+e.refusal
				+e.refusal-inner
					+e.row.form__row
						+e('label').label.form__label Выберите причину отказа
						+e.input-wrapper.form__input-wrapper.form__input-wrapper_select.form__input-wrapper_button
							+e.input-icon.form__input-icon
								+icon('arrows')
							+e('select').select.form__select
								+e('option').option(selected="selected") Мы не допускаем маты в объявлении
								+e('option').option Один
								+e('option').option Два
							+e('button').button_orange.button.button_orange отправить