mixin checkbox(status, text, tt)
	if !tt
		if status == 'on'
			label.checkbox
				if (text && text.length)
					span.checkbox__text= text
				input.checkbox__input(type="checkbox", checked, value="true")
				.checkbox__image
		else
			label.checkbox
				if (text && text.length)
					span.checkbox__text= text
				input.checkbox__input(type="checkbox", value="true")
				.checkbox__image
	else
		label.checkbox.checkbox_default
			input.checkbox__input(type="checkbox", value="true")
			.checkbox__image
				+icon('checkoff')
				+icon('checkon')
			if (text && text.length)
				span.checkbox__text= text