extends ../../mixins/_layout.pug


append vars
	- container = 'cols'
	include ../../blocks/chat/_filter.pug
	include ../../blocks/chat/_message-list.pug

append styles
	link(rel="stylesheet", type="text/css", href="chat/chat.css")

append scr
	script(src='../analytics/Chart.min.js')
	script(src='../analytics/Chart.PieceLabel.js')
	script(src='../analytics/Chart.roundedBarCharts.min.js')
	script(src='chat/chat.js')
	script.
		window.onload = function() {

		    var ctx12 = document.querySelector(".graph__canvas_chat").getContext("2d");
		    var ctx12_opt = {
		        maintainAspectRatio: false,
		        scales: {
		            xAxes: [{
		                display: true,
		                scaleLabel: {
		                    display: false
		                }
		            }],
		            yAxes: [{
		                display: true,
		                scaleLabel: {
		                    display: false
		                }
		            }]
		        }
		    };
		    window.myLine = new Chart(ctx12, {
		        type: 'line',
		        data: {
		        	labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
		   //      	xLabels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
					// yLabels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
		            datasets: [{
		                    fill: true,
		                    backgroundColor: 'rgba(83, 168, 226, 0.1)',
		                    borderColor: '#53a8e2',
		                    borderWidth: 2,
		                    pointRadius: 0,
		                    data: [240, 200, 270, 250, 300, 400, 450, 360, 300, 310, 200, 50, 60, 300],
		                },
		                {
		                    fill: true,
		                    backgroundColor: 'rgba(204, 4, 4, 0.1)',
		                    borderColor: 'rgba(204, 4, 4, 0)',
		                    borderWidth: 0,
		                    pointRadius: 0,
		                    data: [140, 100, 170, 150, 200, 300, 300, 260, 200, 210, 100, 0, 0, 200],
		                }
		            ]
		        },
		        options: ctx12_opt
		    });
		};


block head
	- var pageTitle = 'Чат | Наша Няня';

block content
	.container__col.container__col_filter
		+filter
	.container__col.container__col_content.container__col_nobg
		.container-tabs
			.container-tabs__title Чат
			.container-tabs__links
				a.container-tabs__link.container-tabs__link_active(href="#") Сообщения
				a.container-tabs__link(href="#") Переписки
		.graph__wrapper
			.graph__inner
				.graph__block.graph__block_chat
					.graph__title
						.graph__title-text Название показателя 12
						.graph__title-icon
							+icon('more')
					.graph__content
						canvas.graph__canvas.graph__canvas_chat
		+message-list(getData('chat-messages'))