include ../form/_checkbox.pug

mixin filter()
	+b('form').filter&attributes(attributes)(action="#")
		block
		+e('h2').title Фильтры
		+e.inner
			+e.row.form__row
				+e('label').label.form__label Поикс по ID получателя
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Введите ID")
					+e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label Поикс по ID отправителя
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Введите ID")
					+e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label С дата / Время
				+e.input-wrapper.form__input-wrapper.form__input-wrapper_datetime
					+e('input').input.form__input.form__input_date(type="text", placeholder="-- / -- / --")
					+e('input').input.form__input.form__input_time(type="text", placeholder="-- / --")
					+e('input').input.form__input.form__input_time(type="text", placeholder="-- / --")
					//- +e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label ПО дата / Время
				+e.input-wrapper.form__input-wrapper.form__input-wrapper_datetime
					+e('input').input.form__input.form__input_date(type="text", placeholder="-- / -- / --")
					+e('input').input.form__input.form__input_time(type="text", placeholder="-- / --")
					+e('input').input.form__input.form__input_time(type="text", placeholder="-- / --")
					//- +e('span').status.form__status
			+e.row.form__row
				+checkbox(true, 'Только заблокированные', true)
			+e.footer.form__footer
				+e('button').button_submit.form__button_link Сбросить
				+e('button').button_submit.form__button_submit.form__button_orange Применить