aside.sidebar
    nav
        ul
            li
                a(href="/")
                    span.item-img
                        img(src="/common/image/home.svg" alt="На главную")
                    span.item-menu Главная
            li
                a(href="/user/")
                    span.item-img
                        img(src="/common/image/male.svg" alt="mail")
                    span.item-menu Профиль
            li
                a(href="/tranz/")
                    span.item-img
                        img(src="/common/image/wallet.svg" alt="wallet")
                    span.item-menu История транзакций
            li
                a(href="/ticket/")
                    span.item-img
                        img(src="/common/image/qesion.svg" alt="qesion")
                    span.item-menu Поддержка
