footer.site-footer
    .container-fluid
        .row
            .col-md-3
                .copy 2018 © Slient Notary
            .col-md-6
                .row
                    .col-md-6
                        .ether
                            | Powered be Ethereum
                            img(src="/common/image/ether.svg" alt="Powered be Ethereum")
                    .col-md-6
                        .hain
                            img(src="/common/image/hain.svg" alt="hain")
            .col-md-3
                ul
                    li
                        a(href="#") О проекте
                    li
                        a(href="#") Помощь
