header
    .container-fluid
        a.hamburger.hamburger--slider(href="#my-menu")
            span.hamburger-box
                span.hamburger-inner
        .logo
            a(href="/")
                img.logo-big(src="/common/image/logo.svg" alt="Логотип")
                img.logo-min(src="/common/image/logo-min.svg" alt="Логотип")
        .right-head
            .block-head
                .search
                    form
                        input(type="search" placeholder="Искать по документам")
                        button(type="submit")
                            img(src="/common/image/search.svg" alt="Поиск")
            .block-head
                .check.head-check
                    | Баланс: 50$
                    a(data-fancybox="" href="#popupp") Пополнить
            .block-head
                .lang
                    form(action="#")
                        select
                            option RU
                            option EN
                            option GER
                            option FR
            .block-head
                .shape
                    span.shape-icon
                        img(src="/common/image/shape.svg" alt="")
                    span.oval
                        img(src="/common/image/oval.svg" alt="")
                    .shape-dop
                        p.title-shape Уведовления
                        ul
                            li
                                a.no-ride(href="")
                                    span.date-shape 01.08.2018
                                    | Истекает срок хранения файла Document.docx
                            li
                                a.no-ride(href="")
                                    span.date-shape 01.08.2018
                                    | Истекает срок хранения файла Document.docx
                            li
                                a(href="")
                                    span.date-shape 01.08.2018
                                    | Истекает срок хранения файла Document.docx
                            li
                                a(href="")
                                    span.date-shape 01.08.2018
                                    | Истекает срок хранения файла Document.docx
                            li
                                a(href="")
                                    span.date-shape 01.08.2018
                                    | Истекает срок хранения файла Document.docx
                            li
                                a(href="")
                                    span.date-shape 01.08.2018
                                    | Истекает срок хранения файла Document.docx
            .block-head
                .user
                    a(href="#")
                        img.user-image(src="/common/image/user.svg" alt="Аккаунт")
                    span.user-mail mail@example.com
                    button.share
                        img(src="/common/image/share.svg" alt="Стрелка вниз")
                    .popupp-user
                        .user-acc
                            a(href="#")
                                img(src="/common/image/user.svg" alt="Аккаунт")
                            h4 John Snow
                            span mail@example.com
                        .check.user-check
                            | Баланс: 50$
                            a(data-fancybox="" href="#popupp") Пополнить
                        a.out(href="#") Выход
