extends ../../mixins/_layout


append vars
	- container = 'cols'
	include ../../blocks/_sections
	include ../../blocks/settings/_ip-list

append styles
	link(rel="stylesheet", type="text/css", href="settings/settings.css")

block head
	- var pageTitle = 'Заблокированные IP | Наша Няня';

block content
	.container__col.container__col_side
		+sections('Заблокированные IP')
	.container__col.container__col_content
		+ip-list(getData('ip-list'))