extends layout/layout

block content
    .page__list
        ol
            li
                a(href="/files/files_index.html") Файлы
            li
                a(href="/profile/profile_index.html") Профиль
            li
                a(href="/auth/login.html") Логин
            li
                a(href="/auth/restore.html") Восстановление
            li
                a(href="/auth/registration.html") Регистрация
