header
    .container-fluid
        .logo
            a(href='#')
                img(src='/common/image/logo.svg' alt='Логотип')
        .right-head
            .block-head
                .search
                    form
                        input(type='search' placeholder='Искать по документам')
                        button(type='submit')
                            img(src='/common/image/search.svg' alt='Поиск')
            .block-head
                .check
                    | &Bcy;&acy;&lcy;&acy;&ncy;&scy;: 50$
                    a(href='#check') &Pcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&softcy;
            .block-head
                .lang
                    form(action='#')
                        select
                            option RU
                            option EN
                            option GER
                            option FR
            .block-head
                .shape
                    span.shape-icon
                        img(src='/common/image/shape.svg' alt='')
                    span.oval
                        img(src='/common/image/oval.svg' alt='')
                    .shape-dop
                        p.title-shape &Ucy;&vcy;&iecy;&dcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;
                        ul
                            li
                                a.no-ride(href='')
                                    span.date-shape 01.08.2018
                                    | &Icy;&scy;&tcy;&iecy;&kcy;&acy;&iecy;&tcy; &scy;&rcy;&ocy;&kcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &fcy;&acy;&jcy;&lcy;&acy; Document.docx
                            li
                                a.no-ride(href='')
                                    span.date-shape 01.08.2018
                                    | &Icy;&scy;&tcy;&iecy;&kcy;&acy;&iecy;&tcy; &scy;&rcy;&ocy;&kcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &fcy;&acy;&jcy;&lcy;&acy; Document.docx
                            li
                                a(href='')
                                    span.date-shape 01.08.2018
                                    | &Icy;&scy;&tcy;&iecy;&kcy;&acy;&iecy;&tcy; &scy;&rcy;&ocy;&kcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &fcy;&acy;&jcy;&lcy;&acy; Document.docx
                            li
                                a(href='')
                                    span.date-shape 01.08.2018
                                    | &Icy;&scy;&tcy;&iecy;&kcy;&acy;&iecy;&tcy; &scy;&rcy;&ocy;&kcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &fcy;&acy;&jcy;&lcy;&acy; Document.docx
                            li
                                a(href='')
                                    span.date-shape 01.08.2018
                                    | &Icy;&scy;&tcy;&iecy;&kcy;&acy;&iecy;&tcy; &scy;&rcy;&ocy;&kcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &fcy;&acy;&jcy;&lcy;&acy; Document.docx
                            li
                                a(href='')
                                    span.date-shape 01.08.2018
                                    | &Icy;&scy;&tcy;&iecy;&kcy;&acy;&iecy;&tcy; &scy;&rcy;&ocy;&kcy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &fcy;&acy;&jcy;&lcy;&acy; Document.docx
            .block-head
                .user
                    a(href='#')
                        img.user-image(src='/common/image/user.svg' alt='Аккаунт')
                    span.user-mail mail@example.com
                    button.share
                        img(src='/common/image/share.svg' alt='Стрелка вниз')
                    .popupp-user
                        a(href='#')
                            img(src='/common/image/user.svg' alt='Аккаунт')
                        h4 John Snow
                        span mail@example.com
                        a.out(href='#') &Vcy;&ycy;&khcy;&ocy;&dcy;
