extends ../../mixins/_layout


append vars
	- container = 'cols'
	include ../../blocks/_sections
	include ../../blocks/_pack-tabs
	include ../../blocks/_pack-list

append styles
	link(rel="stylesheet", type="text/css", href="tariffs/tariffs.css")

append scr
	script(src='tariffs/tariffs.js')

block head
	- var pageTitle = 'Тарифы | Наша Няня';

block content
	.container__col.container__col_side
		+sections('Транзакции')
	.container__col.container__col_content
		+pack-tabs
		+pack-list
