extends ../../mixins/_layout


append vars
	- container = 'cols'
	include ../../blocks/_sections
	include ../../blocks/_form-tariff

block head
	- var pageTitle = 'Создать тариф | Наша Няня';

block content
	.container__col.container__col_side
		+sections('Транзакции')
	.container__col.container__col_content
		h2.container__title Создание тарифа
		+form-tariff
