extends ../../mixins/_layout


append vars
	- container = 'cols'
	include ../../blocks/_sections
	include ../../blocks/blog/_blog-form

block head
	- var pageTitle = 'Создать запись в блог | Наша Няня';

append styles
	link(rel="stylesheet", type="text/css", href="blog/blog.css")

block content
	.container__col.container__col_side
		+sections('Статьи')
	.container__col.container__col_content
		h2.container__title Создание/Редактирование статьи блога
		+blog-form
