mixin form-pack()
	+b('form').form-pack&attributes(attributes)(action="#")
		block
		+e.inner
			+e.row.form__row
				+e('label').label.form__label Название пакета
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Придумайте название пакета")
					+e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label Выбор шаблона
				+e.input-wrapper.form__input-wrapper.form__input-wrapper_select
					+e.input-icon.form__input-icon
						+icon('arrows')
					+e('select').select.form__select
						+e('option').option(selected="selected") Без шаблона
						+e('option').option Плохой шаблон
						+e('option').option Хороший шаблон
			+e.row.form__row
				+e('label').label.form__label Географическая область
				+e.input-wrapper.form__input-wrapper.form__input-wrapper_select
					+e.input-icon.form__input-icon
						+icon('arrows')
					+e('select').select.form__select
						+e('option').option(selected="selected") Москва и Московская область
						+e('option').option Иркутская область
						+e('option').option Анапа
		+e.footer.form__footer
			+e('button').button_submit.form__button_submit Создать
			+e('button').button_link.form__button_link Cохранить как шаблон