mixin pack-templates()
	+b.pack-templates&attributes(attributes)
		block
		+e('table').table
			+e('thead').thead
				+e('th').th Имя тарифа
				+e('th').th Период действия
				+e('th').th Стоимость
				+e('th').th
					+e('a').add(href="#", title="Добавить тариф")
						+e.add-ico.ico.ico_plus
							+icon('plus-circle', false)
						+e.add-text Добавить тариф
			+e('tbody').tbody
				+e('tr').tr
					+e('td').td Тариф веселая няня
					+e('td').td Неделя
					+e('td').td 659р
					+e('td').td
						+e('button').remove(title="Удалить тариф")
							+e.add-ico.ico.ico_trash
								+icon('trash', false)
				+e('tr').tr
					+e('td').td Тариф супер няня
					+e('td').td День
					+e('td').td 120р
					+e('td').td
						+e('button').remove(title="Удалить тариф")
							+e.add-ico.ico.ico_trash
								+icon('trash', false)
				+e('tr').tr
					+e('td').td Тариф кул битч
					+e('td').td Неделя
					+e('td').td 12000р
					+e('td').td
						+e('button').remove(title="Удалить тариф")
							+e.add-ico.ico.ico_trash
								+icon('trash', false)