include ../form/_checkbox.pug

mixin form-video()
	+b('form').form-video&attributes(attributes)(action="#")
		block
		+e.inner
			+e.row.form__row
				+e('label').label.form__label Имя видео
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Придумайте название видео", value="Работа для няни в Нижнем Новгороде")
					+e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label Географическая область
				+e.input-wrapper.form__input-wrapper.form__input-wrapper_select
					+e.input-icon.form__input-icon
						+icon('arrows')
					+e('select').select.form__select
						+e('option').option(selected="selected") Москва
						+e('option').option Московская область
						+e('option').option Очень далеко
			+e.row.form__row
				+e('label').label.form__label Yandex link:
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Введите ссылку", value="http://video.yandex.ru/external/46116860187966406...")
					+e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label Our URL:
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Введите ссылку", value="https://www.nashanyanya.ru/videopointer.asp?T=1")
					+e('span').status.form__status
			+e.row.form__row
				+e('label').label.form__label Youtube link:
				+e.input-wrapper.form__input-wrapper
					+e('input').input.form__input(type="text", placeholder="Введите ссылку", value="https://www.youtube.com/watch?v=7WQ9CjxvNEk")
					+e('span').status.form__status
			+e.row.form__row
				+checkbox('on', 'Активное состояние:')
		+e.footer.form__footer
			+e('button').button_submit.form__button_submit.form__button_orange Сохранить