mixin file(state)
	if state
		+b().file_sucess&attributes(attributes)
			+e('input').input(type="file")
			+e.uploaded mailstore.zip загружен
			+e('a').remove
				+icon('plus')
	else
		+b().file&attributes(attributes)
			+e('input').input(type="file")
			+e.add
				+icon('plus')