extends ../../mixins/_layout


append vars
	- container = 'cols'
	include ../../blocks/_sections
	include ../../blocks/video/_form-video

append styles
	link(rel="stylesheet", type="text/css", href="video/video.css")

block head
	- var pageTitle = 'Добавление видео| Наша Няня';

block content
	.container__col.container__col_side
		+sections('Видео')
	.container__col.container__col_content
		h2.container__title Добавление / Редактирование видео
		+form-video