extends ../../mixins/_layout


append vars
	- container = 'cols'
	include ../../blocks/_sections
	include ../../blocks/video/_video-list

append styles
	link(rel="stylesheet", type="text/css", href="temp/temp.css")

block head
	- var pageTitle = 'Списко для локализации | Наша Няня';

block content
	.container__col.container__col_side
		+sections('Видео')
	.container__col.container__col_content
		.container__title Список для локализации
		table#table.table
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		script.
			var obj = {
			"profiles": {
			"title_profile_of_worker": [ "АНКЕТА РАБОТНИКА" ],
			"dozens_of_vacancies": [ "Десятки прекрасных вакансий - всего в трех шагах от вас!" ],
			"conviece_employers": [ "Убедите работодателей, что вы - тот, кто им нужен" ],
			"last_step": [ "И последний шаг - несколько важных фактов о вас" ],
			"lbl_sсhedule_of_work": [ "График работы" ],
			"lbl_who_want_work": [ "Кем вы хотите работать?" ],
			"lbl_what_work": [ "Чем вы владеете?" ],
			"lbl_work_condition_comfort": [ "Кем вы хотите работать?*" ],
			"lbl_min_salary": [ "Минимальная оплата в час*" ],
			"btn_upload_photo": [ "ЗАГРУЗИТЬ ФОТОГРАФИЮ" ],
			"say_work_experience": [ "Раскажите о своем опыте работы с детьми" ],
			"say_education": [ "Расскажите о своем образовании" ],
			"say_education_placeholder": [
			"Если у вас есть какое-нибудь специальное образование, которое вы можете применить в работе — напишите об этом. Если нет — переходите к следующему пункту."
			],
			"say_about": [ "Раскажите о себе" ],
			"tab_1d": [ "Самое важное" ],
			"tab_1m": [ "Важное" ],
			"tab_2m": [ "Умения" ],
			"tab_2d": [ "Ваши умения и предпочтения" ],
			"tab_3": [ "О вас" ],
			"lbl_comment_shedule": [ "КОММЕНТАРИИ К ГРАФИКУ РАБОТЫ" ],
			"ph_comment_shedule_placeholder": [ "Вы можете описать комментарий к вашему графику работы." ],
			"lbl_date_start": [ "Дата начала" ],
			"date_start_immediately": [ "Немедленно" ],
			"lbl_your_experience": [ "Ваш опыт" ],
			"lbl_can_work_same_time": [ "Могу работать одновременно" ],
			"work_with_one_kid": [ "c одним ребенком" ],
			"work_with_two_kid": [ "С двумя детьми" ],
			"work_with_three_kid": [ "С тремя и более детьми" ],
			"lbl_work_experience_age": [ "Опыт работы с детьми разных возрастов" ],
			"work_experience_places": [ "Опыт работы в детском саду или школе" ],
			"lbl_specific_working_conditions": [ "Особые условия работы" ],
			"lbl_professional_skills": [ "Профессиональные умения" ],
			"lbl_select_pro_skills": [ "Выбор проффесиональных умений" ],
			"title_select_skills": [ "Выбор проффесиональных умений" ],
			"select_languages": [
			"Выберите все подходящие языки, включая ваш родной. Для быстрого поиска введите первые буквы названия языка."
			],
			"lbl_languages_speak": [ "Языки, на которых вы говорите" ],
			"btn_select_languages_original": [ "ВЫБОР ЯЗЫКОВ включая свой родной!" ],
			"write_lang_know": [ "Напишите языки которые знаете" ],
			"title_select_langs": [ "ВЫБОР ЯЗЫКОВ" ],
			"lbl_your_citizenship": [ "Ваше гражданство" ],
			"ph_citizenship_placeholder": [ "Выберите гражданство" ],
			"btn_select_your_citizenship": [ "ВЫБОР ВАШЕГО ГРАЖДАНСТВА" ],
			"select_citizenship": [ "ВЫБОР ГРАЖДАНСТВА" ],
			"show_comment": [ "Посмотреть комментарий" ],
			"hide_comment": [ "Скрыть комментарий" ]
			},
			"profiles_create_nanny_rec": {
			"title": [ "Покажите, что вам можно доверять" ],
			"sub_title": [ "Добавьте рекомендации с предыдущих мест работы" ],
			"rec_name": [ "Имя рекомендателя" ],
			"rec_phone": [ "Tелефон рекомендателя" ],
			"rec_email": [ "E-mail рекомендателя" ],
			"append_rec": [ "+ДОБАВИТЬ ЕЩЕ РЕКОМЕНДАЦИЮ" ],
			"text": [ "Текст рекомендации" ],
			"text_placeholder": [
			"Откуда вы знаете данного рекомендателя: где и когда вы на него работали, как долго, причина увольнения. Вы также можете скопировать и вставить в данный раздел рекомендательное письмо, написанное для вас на предыдущем месте работы."
			],
			"submit": [ "СОХРАНИТЬ И ПРОДОЛЖИТЬ" ],
			"skip": [ "Пропустить" ],
			"rec_upload": [ "+Загрузить скан рекомендации" ],
			"rec_upload_change": [ "Заменить скан рекомендации" ],
			"uploaded": [ "Скан рекомендации загружен" ],
			"show_phone": [ "Разрешение показывать телефон" ],
			"show_email": [ "Разрешение показывать e-mail " ]
			},
			"filters": {
			"change_category": [ "Изменить категорию" ],
			"filters": [ "Фильтры" ],
			"title_experience": [ "Опыт работы" ],
			"title_radius_search": [ "Радиус поиска" ],
			"title_address_search": [ "Адрес" ],
			"title_cost_services": [ "Стоимость услуг" ],
			"title_education": [ "Образование" ],
			"additional_information": [ "Дополнительные данные" ],
			"title_knowledge_languages": [ "Знание языков" ],
			"ph_typing_knowledge_languages": [ "Введите первые буквы языка которыми должна владеть Няня" ],
			"select_knowledge_languages": [ "Выбор необходимых для няни языков" ],
			"title_nanny_skills": [ "Умения няни" ],
			"btn_select_nanny_skills": [ "Выбор умений няни" ],
			"title_site_search": [ "Поиск по сайту" ],
			"ph_search_nanny": [ "Поиск няни по имени, id, и текста описания" ],
			"btn_apply_filter": [ "Подобрать" ],
			"save_my_filter": [ "Сохранить мой выбор" ],
			"contract_price": [ "Договорная" ],
			"title_time_work_morning": [ "Утром" ],
			"title_time_work_day": [ "Днём" ],
			"title_time_work_evening": [ "Вечер" ],
			"title_time_work_night": [ "Ночью" ],
			"title_distance": [ "Расстояние" ],
			"found": [ "НАЙДЕНО" ],
			"range_undefined": [ "Без ограничений" ],
			"direction": [ "Направления" ],
			"choosed": [ "Выбрано" ],
			"reset": [ "Сбросить" ],
			"search_work": [ "Ищу работу" ],
			"search_worker": [ "Ищу работника" ]
			},
			"auth": {
			"title_enter_to_lk": [ "Вход в личный кабинет сайта “НашаНяня”" ],
			"title_enter_to_site": [ "Вход на сайт" ],
			"title_welcome_to_community": [ "Добро пожаловать в сообщество “Наша Няня”!" ],
			"ph_your_address_email": [ "Ваш адрес электронной почты" ],
			"work": [ "Ищу работу" ],
			"select_nanny": [ "Няню" ],
			"select_nurse": [ "Сиделку" ],
			"select_housekeeper": [ "Домработницу" ],
			"select_tutor": [ "Репетитора" ],
			"select_zoonanny": [ "Зооняню" ],
			"select_work_type": [ "Выберите, какие работы вы ищете:" ],
			"select_worker_type": [ "Выберите, каких работников вы ищете:" ],
			"title_register_mobile": [ "Зарегистрироваться" ],
			"register_add_favorite": [ "Чтобы сохранить этого работника в избранном — зарегистрируйтесь! Это бесплатно." ],
			"register_write_message": [ "Чтобы написать сообщение этому работнику — зарегистрируйтесь! Это бесплатно." ],
			"register_show_phone": [ "Чтобы посмотреть телефон этого работника — зарегистрируйтесь! Это бесплатно." ],
			"register_add_note": [ "Чтобы добавить заметку этому работнику — зарегистрируйтесь! Это бесплатно." ],
			"register_new_vacancy": [ "Чтобы создать объявление — зарегистрируйтесь! Это бесплатно." ],
			"sign_up": [ "Зарегистрироваться" ],
			"sign_up_1": [ "Зарегистрируйтесь" ],
			"now_seeking_employment": [ "Cейчас на сайте ищут работу 54 000" ],
			"among_that_you_need": [ "Среди них есть та, которая нужна вам." ],
			"among_that_you_need_tutor": [ "Среди них есть тот, который нужен вам." ],
			"you_looking_for": [ "ВЫ ИЩЕТЕ" ],
			"register_with_social": [ "Или зарегистрируйтесь через соц.сети" ],
			"enter_from_site": [ "Войти на сайт" ],
			"title_enter_with_social": [ "Или войдите через соц.сети:" ],
			"lbl_your_email": [ "Ваш e-mail" ],
			"lbl_your_password": [ "Ваш пароль" ],
			"forget_password": [ "Забыли пароль?" ],
			"start_search": [ "НАЧАТЬ ПОИСК" ],
			"i_am_search": [ "Я" ],
			"address_your_email": [ "Адрес электронной почты" ],
			"reg_agency": [ "Регистрация для Агенств" ],
			"phone_error": [ "*Пожалуйста укажите правильный номер телефона" ],
			"password_error": [ "*Пожалуйста, придумайте пароль, который состоит из 6 или более символов." ],
			"you_apply_rules": [
			"Вы соглашаетесь с правилами использования сайта и даете свое согласие на обработку ваших персональных данных."
			],
			"push_button": [ "Нажимая кнопку" ]
			},
			"registration": {
			"what_is_ur_name": [ "Как вас зовут?" ],
			"what_is_ur_surname": [ "Какова ваша фамилия?" ],
			"date_birthday": [ "Дата рождения" ],
			"first_name": [ "Имя" ],
			"last_name": [ "Фамилия" ],
			"electron_email": [ "Электронная почта" ],
			"we_dont_show_email": [
			"*Мы никому не покажем ваш адрес, но это позволит нам находить для вас работников рядом с вами"
			],
			"address": [ "Адрес" ],
			"dateMask": [ "ДД/ММ/ГГГГ" ],
			"password_current": [ "Текущий пароль" ],
			"password": [ "Пароль" ],
			"password_change": [ "Изменить пароль" ],
			"name_agency": [ "Название агенства" ],
			"employer": [ "Работодателя" ],
			"worker": [ "Ищу работника" ],
			"reg_employer": [ "Регистрация работодателя" ],
			"reg_worker": [ "Регистрация работника" ]
			},
			"registration_complete": {
			"sent_letter": [ "Вам было отправлено письмо" ],
			"on_address": [ "На адрес " ],
			"please_find": [ " , пожалуйста найдите его в почте и пройдите по ссылке, чтобы подтвердить свой e-mail." ],
			"resend": [ "Отправить заново" ],
			"dontreceive": [
			"Если вам не пришло письмо пожалуйста проверьте все папки и спасм,  можно написать сюда копирайта еще на 2 абзаца но я не знаю что писать!"
			]
			},
			"validation": {
			"required": [ "Это поле необходимо заполнить" ],
			"maxlength": [ "Превышен размер поля" ],
			"minlength": [ "Недостаточный размер поля" ],
			"email": [ "Ошибка в формате e-mail" ],
			"email_busy": [ "Такой адрес электронной почты уже существует" ],
			"pattern": [ "Ошибка в формате" ],
			"date": [ "Некорректная дата" ],
			"one_required": [ "Пожалуйста выберите минимум одну опцию" ],
			"shedule_required": [ "Заполните график работы" ],
			"year_experience_required": [ "Укажите ваш опыт" ],
			"not_selected": [ "Не выбрано" ],
			"address_route_or_street": [ "Необходимо уточнить адрес до улицы или почтового индекса" ],
			"livinout_required": [ "Выберите тип проживания" ],
			"employment_required": [ "Выберите тип занятости" ],
			"workingExperienceAges_required": [ "Выберите возраст ребенка" ]
			},
			"vacancy": {
			"note": [ "Введите адресс" ],
			"create_ads": [ "Создайте объявление, которое увидят все няни!" ],
			"create_ads_tutor": [ "Создайте объявление, которое увидят все репетиторы!" ],
			"creating_ads": [ "Вы создаете объявление для нянь," ],
			"creating_ads_tutor": [ "Вы создаете объявление для репетиторов," ],
			"creating_ads_link": [ "Сменить профессию" ],
			"title_create_vacancy": [ "Создание объявления" ],
			"lbl_vacancy_name": [ "Название вакансии" ],
			"lbl_vacancy_address": [ "Адрес" ],
			"lbl_ages_your_child": [ "Возраст вашего ребенка" ],
			"title_count_child": [ "Количество" ],
			"age_trainees": [ "Возраст обучаемых" ],
			"age_1": [ "До 1 года" ],
			"age_2": [ "1-2 года" ],
			"age_3": [ "3-5 лет" ],
			"age_4": [ "6-10 лет" ],
			"age_5": [ "10+ лет" ],
			"age_6": [ "10-15 лет" ],
			"age_7": [ "16-17 лет" ],
			"age_8": [ "Взрослые" ],
			"btn_can_work_night": [ "РАБОТА ПО НОЧАМ" ],
			"lbl_date_start_work": [ "Дата начала работы" ],
			"lbl_select_your_skills": [ "Выберите необходимые вам умения" ],
			"select_skills": [ "ВЫБОР НЕОБХОДИМЫХ УМЕНИЙ" ],
			"btn_have_car": [ "Автомобиль" ],
			"lbl_description": [ "Описание" ],
			"lbl_salary": [ "Желательная стоимость" ],
			"drop_this_photo": [ "Перетащите сюда фото вашей семьи" ],
			"btn_vacancy_public": [ "ОПУБЛИКОВАТЬ ВАКАНСИЮ" ],
			"btn_vacancy_save": [ "СОХРАНИТЬ ВАКАНСИЮ" ],
			"save_not_public": [ "Сохранить, но пока не публиковать" ],
			"title_what_nanny_you_search": [ "Какую няню вы ищете?" ],
			"show_all_skills": [ "Показать все умения" ],
			"urgently": [ "СРОЧНО" ],
			"ph_write_name_of_your_vacancy": [ "Напишите название вашей вакансии" ],
			"ph_where_are_you_live": [ "Где вы живете?" ],
			"ph_textarea_description": [ "Введите описание" ],
			"show_my_phone": [ "Показывать мой номер телефона" ],
			"liviout": [ "Проживание" ],
			"employment": [ "Занятость" ],
			"photo_title": [ "Перетащите сюда фото вашей семьи" ],
			"photo_load": [ "ЗАГРУЗИТЬ ФОТОГРАФИЮ" ],
			"photo_load_famaly": [ "ЗАГРУЗИТЬ ФОТОГРАФИЮ СЕМЬИ" ],
			"salary": [ "Заработная плата" ],
			"clarify_salary": [ "Уточнить стоимость" ],
			"phone": [ "ТЕЛЕФОН В ОБЪЯВЛЕНИИ" ],
			"driverlicense_required": [ "Требуются водительские права у няни" ],
			"car_required": [ "Требуется личный автомобиль у няни" ],
			"work_hours": [ "Часы работы" ],
			"workplace": [ "Место работы" ],
			"direction": [ "Направление" ],
			"what_teach": [ "Уточните что именно вы преподаете?" ],
			"choose_skills": [ "Выберите необходимые вам умения Няни " ]
			},
			"landing": {
			"tlp_you_can_call_now": [ "Вы можете позвонить этой няне прямо сейчас" ],
			"banner_process_how_find": [ "КАК НАЙТИ РАБОТНИКА НА НАШЕМ САЙТЕ" ],
			"banner_process_how_find_job": [ "КАК НАЙТИ РАБОТУ НА НАШЕМ САЙТЕ" ],
			"banner_process_reg_and_public_vacancy": [ "Зарегистрируйтесь и разместите объявление" ],
			"banner_process_reg_and_public_vacancy_job": [ "Зарегистрируйтесь и разместите анкету" ],
			"banner_process_pick_up_worker": [ "Подберите подходящего работника" ],
			"banner_process_pick_up_worker_job": [ "Подберите подходящую вакансию" ],
			"banner_process_buy_subscribe_and_connect_worker": [ "Купите подписку и cвяжитесь с работником напрямую" ],
			"banner_process_buy_subscribe_and_connect_worker_job": [ "Купите подписку и получите  выгодные предложения" ],
			"banner_process_worker_found": [ "Надежный работник найден!" ],
			"banner_process_worker_found_job": [ "Хорошая работа найдена!" ],
			"work": [ "Работа" ],
			"i_know": [ "Знаю" ],
			"language": [ "Язык" ],
			"sort_by_rating": [ "Рейтингу" ],
			"sort_by_experience": [ "Опыту" ],
			"sort_by_distance": [ "Расстоянию" ],
			"sort_by_last_login": [ "Активности" ],
			"change": [ "Изменить" ],
			"critical_filter": [ "Вы выбрали слишком много параметров, не будьте так критичны!" ],
			"title_other_reliable": [ "Другие надежные" ],
			"near_from_you": [ "Поблизости от вас" ],
			"bc_main_page": [ "Главная" ],
			"brand": [ "Наша няша" ],
			"sort_by": [ "Сортировать по:" ],
			"exp": [ "Опыту" ],
			"range": [ "Расстоянию" ],
			"activity": [ "Активности" ],
			"video_about_service": [ "Видео о нашем сервисе" ],
			"show_more": [ "Показать ещё" ],
			"can_work_night": [ "Возможна работа по ночам" ],
			"btn_close_filters": [ "Закрыть" ]
			},
			"metro": {
			"kazan_prospect_pobedy": [ "Проспект победы" ],
			"kazan_gorky": [ "Горки" ],
			"kazan_ametievo": [ "Аметьево" ],
			"kazan_sukonnaya_sloboda": [ "Суконная слобода" ],
			"kazan_ploshad_tukaya": [ "Площадь тукая" ],
			"kazan_kremlin": [ "Кремлевская" ],
			"kazan_yashlek": [ "Яшьлек" ],
			"kazan_kozia_sloboda": [ "Козья слобода" ],
			"kazan_severny_vokzal": [ "Северный вокзал" ],
			"kazan_aviastroy": [ "Авиастроительная" ],
			"moscow_tverskaya": [ "Тверская" ]
			},
			"worker": {
			"back": [ "Назад" ],
			"on_website": [ "На сайте" ],
			"it_was_he": [ "Был" ],
			"it_was_she": [ "Была" ],
			"work_at_rate": [ "Работа на ставке" ],
			"from_you": [ "От Вас" ],
			"experience": [ "Опыта" ],
			"to_write_message": [ "Написать сообщение" ],
			"show_phone": [ "Показать телефон" ],
			"add_notes": [ "Добавить заметку" ],
			"title_about_me": [ "О себе" ],
			"my_skills": [ "Мои умения" ],
			"personal_information": [ "Личная информация" ],
			"with_children_aged": [ "С детьми в возросте" ],
			"from_one_to_five_age": [ "1-5" ],
			"from_five_to_nine_age": [ "5-9" ],
			"from_nine_to_plus_age": [ "9+" ],
			"video_presentation": [ "Видео презентация" ],
			"btn_give_feedback": [ "Оставить отзыв" ],
			"ride_up_to_you": [ "Ехать до вас" ],
			"area": [ "Район" ],
			"btn_show_on_map": [ "Показать на карте" ],
			"title_documents_and_scans": [ "Документы и сканы" ],
			"report_violation": [ "Сообщить о нарушении" ],
			"may_be_interested": [ "Вам также могут быть интересны следующие" ],
			"lbl_you_need": [ "Вам необходимо" ],
			"lbl_work_hours_by_week": [ "Рабочих часов в неделю" ],
			"title": [ "Объявлений" ],
			"sort_by_0": [ "Самые свежие" ],
			"sort_by_1": [ "Опыт" ],
			"sort_by_2": [ "Расстояние" ],
			"sort_by_3": [ "Стоимость" ],
			"sort_by_Activity": [ "Самые свежие" ],
			"sort_by_Experience": [ "Опыт" ],
			"sort_by_Distance": [ "Расстояние" ],
			"sort_by_Cost": [ "Стоимость" ],
			"sort_by": [ "СОРТИРОВАТЬ ПО" ],
			"show_contacts": [ "Показать контакты" ],
			"other_resume": [ "Другие анкеты" ],
			"other_resume_10": [ "Анкета няни" ],
			"other_resume_20": [ "Анкета сиделки" ],
			"other_resume_30": [ "Анкета домработницы" ],
			"other_resume_40": [ "Анкета зооняни" ],
			"other_resume_50": [ "Анкета репетитора" ],
			"other_vacancy": [ "Другие вакансии" ],
			"other_vacancy_60": [ "Вакансия няни" ],
			"other_vacancy_70": [ "Вакансия сиделки" ],
			"other_vacancy_80": [ "Вакансия домработницы" ],
			"other_vacancy_90": [ "Вакансия зооняни" ],
			"other_vacancy_100": [ "Вакансия репетитора" ],
			"no_rec": [ "У этого пользователя еще нет рекомендаций" ],
			"if": [ "Если" ],
			"worked_this_you": [ "Работала у вас, вы можете" ],
			"add_review": [ "Добавить о ней отзыв" ]
			},
			"calendar": {
			"monday": [ "Пн" ],
			"tuesday": [ "Вт" ],
			"wednesday": [ "Ср" ],
			"thursday": [ "Чт" ],
			"friday": [ "Пт" ],
			"saturday": [ "Сб" ],
			"sunday": [ "Вс" ],
			"morning": [ "Утро" ],
			"day": [ "День" ],
			"evening": [ "Вечер" ],
			"night": [ "Ночь" ]
			},
			"workers": {
			"title_range_until": [ "Расстояние до" ],
			"search_result": [ "Результаты поиска" ],
			"filters_me": [ "Меня" ],
			"filters_address": [ "Адреса" ],
			"filters_metro": [ "Метро" ],
			"filters_apply": [ "Применить" ],
			"on_range": [ "На расстоянии" ],
			"workerType_nannywork": [ "Няни" ],
			"workerType_nursework": [ "Сиделки" ],
			"workerType_housekeeperwork": [ "Домработницы" ],
			"workerType_nanny": [ "Няня" ],
			"workerType_nurse": [ "Сиделка" ],
			"workerType_housekeeper": [ "Домработница" ],
			"workerType_zoonyanya": [ "Зооняня" ],
			"workerType_tutors": [ "Репетиторы" ],
			"workerType_tutor": [ "Репетитор" ],
			"workerType_teacher": [ "Педагог" ],
			"workerType_zoonyanyawork": [ "Работу зооняни" ],
			"workerType_tutorwork": [ "Работу репетитор" ],
			"workerType_work": [ "Работа" ]
			},
			"common": {
			"save_and_continue": [ "Сохранить продолжить" ],
			"continue": [ "Продолжить" ],
			"next": [ "Далее" ],
			"since": [ "С" ],
			"in": [ "В" ],
			"favorite_in": [ "Избранных" ],
			"from": [ "От" ],
			"on": [ "На" ],
			"until": [ "До" ],
			"distanceValue": [ "Км" ],
			"currency": [ "₽" ],
			"currency_full_name": [ "Рублей" ],
			"currency_short_name": [ "Руб" ],
			"outta": [ "Из" ],
			"without_experience": [ "Без опыта" ],
			"now": [ "Сейчас" ],
			"1_hour_ago": [ "Час назад" ],
			"2_hour_ago": [ "Два часа назад" ],
			"today": [ "Сегодня" ],
			"yesterday": [ "Вчера" ],
			"2_day_ago": [ "Два дня назад" ],
			"3_day_ago": [ "Три дня назад" ],
			"this_week": [ "На этой неделе" ],
			"3_weeks_ago": [ "Три недели назад" ],
			"this_month": [ "В этом месяце" ],
			"1_month_ago": [ "В прошлом месяце" ],
			"2_month_ago": [ "Два месяца назад" ],
			"3_month_ago": [ "3 месяца назад" ],
			"4_month_ago": [ "4 месяца назад" ],
			"5_month_ago": [ "5 месяцев назад" ],
			"6_month_ago": [ "6 месяцев назад" ],
			"more_six_month": [ "Больше полугода назад" ],
			"workerType_Nanny_1": [ "Няня" ],
			"workerType_Nanny_2": [ "Няни" ],
			"workerType_Nanny_3": [ "Нянь" ],
			"workerType_Nanny_4": [ "Няню" ],
			"workerType_Nanny_5": [ "Няней" ],
			"workerType_Nanny_d": [ "Няне" ],
			"workerType_Tutor_1": [ "Репетитор" ],
			"workerType_Tutor_2": [ "Репетиторы" ],
			"workerType_Tutor_3": [ "Репетиторов" ],
			"workerType_Tutor_4": [ "Репетиторы" ],
			"workerType_Tutor_5": [ "Репетитором" ],
			"workerType_Tutor_6": [ "Репетитора" ],
			"workerType_Tutor_d": [ "Репетитору" ],
			"workerType_Nurse_1": [ "Сиделка" ],
			"workerType_Nurse_2": [ "Сиделки" ],
			"workerType_Nurse_3": [ "Сиделок" ],
			"workerType_Nurse_5": [ "Сиделкой" ],
			"workerType_Nurse_d": [ "Сиделке" ],
			"workerType_Nurse_reg": [ "Работу сиделки" ],
			"workerType_Housekeeper_1": [ "Домработница" ],
			"workerType_Housekeeper_2": [ "Домработницы" ],
			"workerType_Housekeeper_3": [ "Домработницы" ],
			"workerType_Housekeeper_4": [ "Домработниц" ],
			"workerType_Housekeeper_5": [ "Домработницей" ],
			"workerType_Housekeeper_d": [ "Домработнице" ],
			"workerType_Housekeeper_reg": [ "Работу домработницы" ],
			"workerType_PetCare_1": [ "Зооняня" ],
			"workerType_PetCare_2": [ "Зооняни" ],
			"workerType_PetCare_3": [ "Зооняни" ],
			"workerType_PetCare_4": [ "Зоонянь" ],
			"workerType_PetCare_d": [ "Зооняне" ],
			"workerType_PetCare_reg": [ "Работу зооняни" ],
			"workerType_Tutor_reg": [ "Работу репетитора" ],
			"search_1": [ "Найдена" ],
			"search_2": [ "Найдены" ],
			"search_3": [ "Найдено" ],
			"recommendation_1": [ "Рекомендация" ],
			"recommendation_2": [ "Рекомендации" ],
			"recommendation_3": [ "Рекомендации" ],
			"comment_1": [ "Отзыв" ],
			"comment_2": [ "Отзыва" ],
			"comment_3": [ "Отзывов" ],
			"year_1": [ "Год" ],
			"year_2": [ "Года" ],
			"year_3": [ "Лет" ],
			"month_1": [ "Месяц" ],
			"month_2": [ "Месяца" ],
			"month_3": [ "Месяцев" ],
			"day_1": [ "День" ],
			"day_2": [ "Дня" ],
			"day_3": [ "Дней" ],
			"hour_1": [ "Час" ],
			"hour_2": [ "Часа" ],
			"hour_3": [ "Часов" ],
			"minute_1": [ "Минута" ],
			"minute_2": [ "Минуты" ],
			"minute_3": [ "Минут" ],
			"second_1": [ "Секунда" ],
			"second_2": [ "Секунды" ],
			"second_3": [ "Секунд" ],
			"month_name_of_0": [ "Января" ],
			"month_name_of_1": [ "Февраля" ],
			"month_name_of_2": [ "Марта" ],
			"month_name_of_3": [ "Апреля" ],
			"month_name_of_4": [ "Мая" ],
			"month_name_of_5": [ "Июня" ],
			"month_name_of_6": [ "Июля" ],
			"month_name_of_7": [ "Августа" ],
			"month_name_of_8": [ "Сентября" ],
			"month_name_of_9": [ "Октября" ],
			"month_name_of_10": [ "Ноября" ],
			"month_name_of_11": [ "Декабря" ],
			"vacancy_filter": [ "Фильтр вакансий" ],
			"worker_filter": [ "Фильтр работников" ],
			"workerprofiles_manage": [ "Управление Анкетами" ],
			"logon": [ "Войти" ],
			"logout": [ "Выйти" ],
			"btn_create_ad": [ "Создать объявление" ],
			"return_to_search": [ "ВЕРНУТЬСЯ К ПОИСКУ" ],
			"vacancy": [ "Вакансии" ],
			"resumes": [ "Анкеты" ],
			"contacts": [ "Контакты" ],
			"questions_and_answers": [ "ВОПРОСЫ И ОТВЕТЫ" ],
			"title_register": [ "Регистрация" ],
			"go_premium": [ "Перейти на премиум" ],
			"show_all": [ "Показать все" ],
			"work_with_kids": [ "Работы с детьми" ],
			"error": [ "Ошибка" ],
			"apply": [ "Применить" ],
			"save": [ "Сохранить" ],
			"save_changes": [ "Сохранить изменения" ],
			"show_more": [ "Показать ещё" ],
			"search": [ "Поиск" ],
			"more": [ "Подробнее" ],
			"hide": [ "Скрыть" ],
			"enter_text": [ "Введите текст" ],
			"phone": [ "Телефон" ],
			"change": [ "Изменить" ],
			"topical": [ "Актуальные" ],
			"delete_history": [ "Удалить историю" ],
			"chat": [ "Чат" ],
			"update": [ "Обновить" ],
			"edit": [ "Редактировать" ],
			"delete": [ "Удалить" ],
			"print": [ "Напечатать" ],
			"add": [ "Добавить" ],
			"retry": ["Повторить"]
			},
			"education": {
			"education": [ "Образование" ],
			"college": [ "Колледж", "Колледж" ],
			"academic": [ "Высшее", "Высшее" ],
			"nannies": [ "Курсы ухода за детьми", "Курсы ухода за детьми" ],
			"firstaid": [ "Курсы первой помощи", "Курсы первой помощи" ],
			"medical": [ "Медицинское", "Медицинское" ],
			"child_education": [ "Педагогическое", "Педагогическое" ],
			"montessori": [ "Курсы Монтессори", "Курсы Монтессори" ],
			"student": [ "Студент", "Студент" ],
			"carers_courses": [ "Курсы сиделок", "Курсы сиделок" ],
			"nurse_course": [ "Курсы медсестер", "Курсы медсестер" ],
			"music": [ "Музыкальное", "Музыкальное" ],
			"btn_select_your": [ "Выбор вашего образования", "Выбор вашего образования" ],
			"title_select_your_short": [ "Выбор образования", "Выбор образования" ]
			},
			"working_condition": {
			"working_condition": [ "Условия работы", "Условия работы" ],
			"can_travel": [ "Могу путешествовать с семьей", "Могу путешествовать с семьей" ],
			"with_animals": [ "Могу работать в доме с животными", "Могу работать в доме с животными" ],
			"can_night": [ "Могу работать по ночам", "Могу работать по ночам" ],
			"can_move": [ "Готов переехать в другой город", "Готов переехать в другой город" ]
			},
			"working_terms": {
			"working_terms": [ "Срок работы" ],
			"long_time": [ "На долгий срок" ],
			"season": [ "На 1-3 месяца (на сезон)" ],
			"necessity": [ "По необходимости" ]
			},
			"working_skills": {
			"working_skills": [ "Профессиональные умения" ],
			"with_disabled": [ "Работа с детьми-инвалидами", "Работа с детьми-инвалидами" ],
			"with_twince": [ "Работа с двойней, тройней", "Работа с двойней, тройней" ],
			"home_works": [ "Помощь в выполнении домашних заданий", "Помощь в выполнении домашних заданий" ],
			"clean_room": [ "Помощь в уборке детской комнаты", "Помощь в уборке детской комнаты" ],
			"events": [ "Организация детских мероприятий", "Организация детских мероприятий" ],
			"care": [ "Детская гигиена", "Детская гигиена" ],
			"bathing": [ "Купание детей", "Купание детей" ],
			"accompnying": [ "Сопровождение детей", "Сопровождение детей" ],
			"cooking": [ "Приготовление пищи", "Приготовление пищи" ],
			"clean_home": [ "Уборка в доме", "Уборка в доме" ],
			"keeping_order": [ "Поддержание порядка", "Поддержание порядка" ],
			"clothes_iron": [ "Стрика и глажка одежды", "Стрика и глажка одежды" ],
			"buying_products": [ "Покупка продуктов", "Покупка продуктов" ],
			"care_pet": [ "Уход за домашними животными", "Уход за домашними животными" ],
			"plant_care": [ "Уход за растениями", "Уход за растениями" ],
			"injections": [ "Уколы", "Уколы" ],
			"body_surface_care": [ "Уход за поверхностью тела", "Уход за поверхностью тела" ],
			"bedpan_help": [ "Помощь при использовании суден", "Помощь при использовании суден" ],
			"postoperative_patients": [ "Помощь послеоперационным больным", "Помощь послеоперационным больным" ],
			"toilet_room_help": [ "Помощь при пользовании туалетной комнатой", "Помощь при пользовании туалетной комнатой" ],
			"patient_supporting": [ "Сопровождение пациента", "Сопровождение пациента" ],
			"sport_physiotherapy": [ "Занятия лечебной физкультурой", "Занятия лечебной физкультурой" ],
			"tube_feeding_diet": [ "Зондовое питание", "Зондовое питание" ],
			"patient_movement": [ "Поднятие/передвижение пациента", "Поднятие/передвижение пациента" ],
			"help_change_catheter": [ "Помощь в смене катетера", "Помощь в смене катетера" ],
			"reception_desk": [ "Прием и обслуживание гостей", "Прием и обслуживание гостей" ],
			"accounting_expenses_paying_bills": [ "Учет расходов, оплата счетов", "Учет расходов, оплата счетов" ],
			"controlling_other_domestic_workers": [
			"Управление другими домашними работниками",
			"Управление другими домашними работниками"
			],
			"own_equipment_harvesting": [ "Собственная техника для уборки", "Собственная техника для уборки" ],
			"own_detergents": [ "Собственные моющие средства", "Собственные моющие средства" ],
			"babysitting": [ "Присмотр за детьми", "Присмотр за детьми" ],
			"help_sick_and_elderly": [ "Помощь больным и престарелым", "Помощь больным и престарелым" ],
			"prepare_for_school": [ "Подготовка к школе", "Подготовка к школе" ],
			"prepare_for_exam": [ "Подготовка к ЕГЭ", "Подготовка к ЕГЭ" ],
			"primary_school": [ "Преподаватель младших класов", "Преподаватель младших класов" ],
			"montessori_method": [ "Cистема Монтессори", "Cистема Монтессори" ],
			"zaitsev_method": [ "Кубики Зайцева", "Кубики Зайцева" ],
			"nikitin_method": [ "Система Никитиных", "Система Никитиных" ],
			"waldorf_method": [ "Вальдорфская школа", "Вальдорфская школа" ],
			"clean_outside": [ "Уборка придомовой территории", "Уборка придомовой территории" ],
			"clean_kitchen": [ "Уборка кухни и кухонной техники", "Уборка кухни и кухонной техники" ],
			"washing": [ "Стирка и глажка", "Стирка и глажка" ],
			"staff_control": [
			"Наем и контроль над работой другого персонала в доме",
			"Наем и контроль над работой другого персонала в доме"
			]
			},
			"teaching_subject": {
			"teaching_subject": [ "Преподаваемые предметы" ],
			"interesting": [ "Уточните что вам интересно в преподаваемых предметах" ],
			"math": [ "Математика" ],
			"higher_math": [ "Высшая математика" ],
			"russian": [ "Русский язык" ],
			"literature": [ "Литература" ],
			"geography": [ "География" ],
			"biology": [ "Биология" ],
			"chemistry": [ "Химия" ],
			"history": [ "История" ],
			"social_science": [ "Обществознание" ],
			"physics": [ "Физика" ],
			"economics": [ "Экономика" ],
			"computer_science": [ "Информатика" ],
			"programming": [ "Программирование" ],
			"political_science": [ "Политология" ],
			"psychology": [ "Психология" ],
			"philosophy": [ "Философия" ],
			"astronomy": [ "Астрономия" ]
			},
			"teaching_physical_culture": {
			"teaching_physical_culture": [ "Физическое развитие" ],
			"interesting": [ "Уточните что вам интересно в физическом развитии" ],
			"martial_arts": [ "Боевые искусства" ],
			"yoga": [ "Йога" ],
			"fitness": [ "Фитнес" ],
			"choreography": [ "Хореография" ],
			"rhythmics": [ "Ритмика" ],
			"ballroom_dancing": [ "Бальные танцы" ]
			},
			"teaching_music": {
			"teaching_music": [ "Музыка" ],
			"interesting": [ "Уточните что вам интересно в музыке" ],
			"pianoforte": [ "Фортепиано" ],
			"violin": [ "Виолончель" ],
			"guitar": [ "Гитара" ],
			"cornet": [ "Корнет" ],
			"violoncello": [ "Виолончель" ],
			"clarinet": [ "Кларнет" ],
			"flute": [ "Флейта" ],
			"saxophone": [ "Саксофон" ],
			"solfeggio": [ "Сольфеджио" ],
			"drums": [ "Ударные" ],
			"vocals": [ "Вокал" ]
			},
			"teaching_art": {
			"teaching_art": [ "Искусство" ],
			"interesting": [ "Уточните что вам интересно в искусстве" ],
			"photography": [ "Фотография" ],
			"handiwork": [ "Рукоделие" ],
			"origami": [ "Оригами" ],
			"design": [ "Дизайн" ],
			"acting_skills": [ "Актерское масстерство" ],
			"rhetoric": [ "Риторика" ],
			"fine_arts_and_modeling": [ "ИЗО и лепка" ],
			"decoupage": [ "Декупаж" ]
			},
			"teaching_language": {
			"teaching_language": [ "Иностранные языки" ],
			"interesting": [ "Уточните что вам интересно в иностранных языках" ],
			"english": [ "Английский" ],
			"german": [ "Немецкий" ],
			"french": [ "Французский" ],
			"spanish": [ "Испанский" ],
			"italian": [ "Итальянский" ],
			"hebrew": [ "Иврит" ],
			"japanese": [ "Японский" ],
			"mandarin": [ "Мандаринский" ],
			"serbian": [ "Сербский" ],
			"chinese": [ "Китайский" ],
			"latin": [ "Латынь" ],
			"romanian": [ "Румынский" ],
			"russian": [ "Русский" ],
			"arabic": [ "Арабский" ]
			},
			"teaching_age": {
			"teaching_age": [ "Опыт работы с возрастными категориями" ],
			"working_ages": [ "Работа с возрастами" ],
			"three_five": [ "3-5 лет" ],
			"six_ten": [ "6-10 лет" ],
			"ten_fifteen": [ "10-15 лет" ],
			"sixteen_seventeen": [ "16-17 лет" ],
			"adults": [ "\\tВзрослые" ]
			},
			"tutor_workplace": {
			"tutor_workplace": [ "Место работы", "Место работы" ],
			"tutor_place": [ "На дому у репетитора", "На дому у репетитора" ],
			"employer_place": [ "У работодателя", "У работодателя" ],
			"remote": [ "Дистанционно", "Дистанционно" ],
			"tutor": [ "Репетитор", "Репетитор" ],
			"educator": [ "Педагог", "Педагог" ],
			"kindergarten": [ "В детских центрах", "В детских центрах" ]
			},
			"tutor_workcondition": {
			"remote": [ "Дистанционное обучение" ],
			"kindergarten": [ "В детских центрах/садах" ],
			"disabled": [ "Работа с детьми-инвалидами" ]
			},
			"tutor_education": {
			"tutor_education": [ "Образование", "Образование" ],
			"technical_college": [ "Технический колледж", "Технический колледж" ],
			"secondary_school": [ "Училище", "Училище" ],
			"technical_сollege": [ "Техникум", "Техникум" ],
			"college": [ "Колледж", "Колледж" ],
			"bachelor_degree_specialist": [ "Диплом бакалавра/специалиста", "Диплом бакалавра/специалиста" ],
			"master_degree": [ "Диплом магистра", "Диплом магистра" ],
			"teacher_education": [ "Педагогическое образование", "Педагогическое образование" ],
			"science_degree": [ "Научная степень", "Научная степень" ]
			},
			"tutor_subtype": {
			"tutor_subtype": [ "Какую работу вы ищите" ],
			"private_tutor": [ "Частный репетитор" ],
			"teacher_kindergarten": [ "Педагог в детский центр/ детский сад" ]
			},
			"working_experience_diagnose": {
			"working_experience_diagnose": [ "Опыт работы с диагнозами" ],
			"alzheimer": [ "Болезнь Альцгеймера" ],
			"parkinson": [ "Болезнь Паркинсона" ],
			"cancer": [ "Рак" ],
			"stroke": [ "Инсульт" ],
			"bedridden": [ "Человек, прикованный к постели" ],
			"hospice": [ "Клиника для безнадежно больных" ],
			"diabetes": [ "Сахарный диабет" ],
			"incontinence": [ "Недержание (смена подгузников)" ],
			"osteoporosis": [ "Остеопороз" ],
			"visual_impairment": [ "Ухудшение зрения" ],
			"paralysis": [ "Паралич" ],
			"amputated": [ "Человек с ампутированной конечностью" ],
			"bedsores": [ "Пролежни" ],
			"arthritis": [ "Артрит" ],
			"chemotherapy": [ "Лечение химиотерапией" ],
			"bad_hearing": [ "Ухудшение слуха" ],
			"fractured_neck_of_hip": [ "Перелом шейки бедра" ],
			"hepatitis": [ "Гепатит" ],
			"removed_cataract": [ "Удаленная катаракта" ],
			"brain_tumor": [ "Опухоль головного мозга" ],
			"malnutrition": [ "Недостаточность или нарушение питания" ],
			"artificial_ventilation": [ "Искусственная вентиляция легких" ],
			"impairment_of_speech": [ "Ухудшение речи" ],
			"heart_failure": [ "(Сердечная недостаточность) Инфаркт" ],
			"shingles": [ "Опоясывающий лишай" ],
			"pneumonia": [ "Воспаление легких" ]
			},
			"nurse_education": {
			"nurse_education": [ "Образование" ],
			"nurse": [ "Курсы сиделок" ],
			"medical_nurse": [ "Курсы медсестер" ],
			"medical_education": [ "Медицинское образование" ],
			"higher_education": [ "Высшее образование" ],
			"first_aid": [ "Курсы оказания первой помощи" ],
			"college": [ "Колледж" ],
			"student": [ "Студент" ]
			},
			"nurse_workplace": {
			"nurse_workplace": [ "Место работы" ],
			"home": [ "Работа на дому" ],
			"nursing_home": [ "Работа в доме престарелых" ],
			"hospital": [ "Работа в больнице/клинике" ]
			},
			"nurse_subtype": {
			"nurse_subtype": [ "Какую работу вы ищите" ],
			"nurse": [ "Сиделка" ],
			"paramedic": [ "Медработник" ],
			"medical_nurse": [ "Медсестра" ]
			},
			"working_experience_age": {
			"working_experience_age": [ "Опыт работы (возраст детей)" ],
			"year": [ "До года" ],
			"one_two": [ "1 - 2 года" ],
			"two_five": [ "2 - 5 лет" ],
			"five_ten": [ "5 - 10 лет" ],
			"ten_older": [ "9+ лет" ]
			},
			"housekeeper_workplace": {
			"housekeeper_workplace": [ "Место работы" ],
			"home": [ "Уборка домов и квартир" ],
			"office": [ "Уборка офисов" ]
			},
			"languages": {
			"afrikaans": [ "Африкаанс", "Язык: африкаанс" ],
			"albanian": [ "Албанский", "Язык: албанский" ],
			"americansignlanguage": [ "Американский язык жестов", "Язык: американский язык жестов" ],
			"arabic": [ "Арабский", "Язык: арабский" ],
			"armenian": [ "Армянский", "Язык: армянский" ],
			"azerbaijani": [ "Азербайджанский", "Язык: азербайджанский" ],
			"bahasamalaysia": [ "Малайский", "Язык: малайский" ],
			"bangala": [ "Бангала", "Язык: бангала" ],
			"bavarian": [ "Баварский", "Язык: баварский" ],
			"belorussian": [ "Белорусский", "Язык: белорусский" ],
			"bengali": [ "Бенгальский", "Язык: бенгальский" ],
			"bosnian": [ "Боснийский", "Язык: боснийский" ],
			"bulgarian": [ "Болгарский", "Язык: болгарский" ],
			"cantonese": [ "Кантонский", "Язык: кантонский" ],
			"catalan": [ "Каталонский", "Язык: каталонский" ],
			"creole": [ "Креольский", "Язык: креольский" ],
			"croatian": [ "Хорватский", "Язык: хорватский" ],
			"czech": [ "Чешский", "Язык: чешский" ],
			"danish": [ "Датский", "Язык: датский" ],
			"dutch": [ "Голландский", "Язык: голландский" ],
			"english": [ "Английский", "Язык: английский" ],
			"estonian": [ "Эстонский", "Язык: эстонский" ],
			"farsi": [ "Фарси", "Язык: фарси" ],
			"finnish": [ "Финский", "Язык: финский" ],
			"flemish": [ "Фламандский", "Язык: фламандский" ],
			"french": [ "Французский", "Язык: французский" ],
			"georgian": [ "Грузинский", "Язык: грузинский" ],
			"german": [ "Немецкий", "Язык: немецкий" ],
			"greek": [ "Греческий", "Язык: греческий" ],
			"gujerati": [ "Гуджарати", "Язык: гуджарати" ],
			"haitian-creole": [ "Гаитянский-креольский", "Язык: гаитянский-креольский" ],
			"hebrew": [ "Иврит", "Язык: иврит" ],
			"hindi": [ "Хинди", "Язык: хинди" ],
			"hungarian": [ "Венгерский", "Язык: венгерский" ],
			"icelandic": [ "Исландский", "Язык: исландский" ],
			"irish": [ "Ирландский", "Язык: ирландский" ],
			"italian": [ "Итальянский", "Язык: итальянский" ],
			"japanese": [ "Японский", "Язык: японский" ],
			"javanese": [ "Яванский", "Язык: яванский" ],
			"kazakh": [ "Казахский", "Язык: казахский" ],
			"korean": [ "Корейский", "Язык: корейский" ],
			"kyrgyz": [ "Киргизский", "Язык: киргизский" ],
			"latin": [ "Латинский", "Язык: латинский" ],
			"latvian": [ "Латышский", "Язык: латышский" ],
			"lithuanian": [ "Литовский", "Язык: литовский" ],
			"macedonian": [ "Македонский", "Язык: македонский" ],
			"maltese": [ "Мальтийский", "Язык: мальтийский" ],
			"mandarin": [ "Китайский", "Язык: китайский" ],
			"moldavian": [ "Молдавский", "Язык: молдавский" ],
			"mongolian": [ "Монгольский", "Язык: монгольский" ],
			"nepalese": [ "Непальский", "Язык: непальский" ],
			"norwegian": [ "Норвежский", "Язык: норвежский" ],
			"patois": [ "Патуа", "Язык: патуа" ],
			"polish": [ "Польский", "Язык: польский" ],
			"portuguese": [ "Португальский", "Язык: португальский" ],
			"punjabi": [ "Панджаби", "Язык: панджаби" ],
			"romanian": [ "Румынский", "Язык: румынский" ],
			"russian": [ "Русский", "Язык: русский" ],
			"sardinian": [ "Сардинский", "Язык: сардинский" ],
			"scots": [ "Шотландский", "Язык: шотландский" ],
			"serbian": [ "Сербский", "Язык: сербский" ],
			"slovak": [ "Словацкий", "Язык: словацкий" ],
			"slovenian": [ "Словенский", "Язык: словенский" ],
			"spanish": [ "Испанский", "Язык: испанский" ],
			"swedish": [ "Шведский", "Язык: шведский" ],
			"tagalog": [ "Тагальский", "Язык: тагальский" ],
			"tajik": [ "Таджикский", "Язык: таджикский" ],
			"tamil": [ "Тамильский", "Язык: тамильский" ],
			"thai": [ "Тайский", "Язык: тайский" ],
			"turkish": [ "Турецкий", "Язык: турецкий" ],
			"turkmen": [ "Туркменский", "Язык: туркменский" ],
			"ukrainian": [ "Украинский", "Язык: украинский" ],
			"urdu": [ "Урду", "Язык: урду" ],
			"uzbek": [ "Узбекский", "Язык: узбекский" ],
			"vietnamese": [ "Вьетнамский", "Язык: вьетнамский" ],
			"yiddish": [ "Идиш", "Язык: идиш" ],
			"tatar": [ "Татарский", "Язык: татарский" ]
			},
			"liveinout": {
			"in": [ "Только с проживанием", "Только с проживанием" ],
			"in_or_out": [ "С проживанием или без", "С проживанием или без" ],
			"out": [ "Без проживания", "Без проживания" ]
			},
			"employment": {
			"full": [ "Полная занятость", "Полная занятость" ],
			"part": [ "Частичная занятость", "Частичная занятость" ],
			"full_or_part": [ "Полная или частичная занятость", "Полная или частичная занятость" ]
			},
			"children_count": {
			"one": [ "Один ребенок", "Один ребенок" ],
			"one_two": [ "Один или два ребенка", "Один или два ребенка" ],
			"any": [ "Любое количество", "Любое количество" ]
			},
			"religion": {
			"orthodox": [ "Православие" ],
			"catholic": [ "Католицизм" ],
			"protestantism": [ "Протестантизм" ],
			"judaism": [ "Иудаизм" ],
			"islam": [ "Ислам" ],
			"buddhism": [ "Буддизм" ],
			"other": [ "Другое" ]
			},
			"aboutnanny": {
			"first": [ "Раскажите о своем опыте работы с детьми" ],
			"second": [
			"Если у вас есть какое-нибудь специальное образование, которое вы можете применить в работе няни — напишите об этом"
			],
			"third": [ "Расскажите, откуда вы родом. Много ли детей было в семье, были ли младшие братья и сестры?" ],
			"fourth": [ "Расскажите о себе. Какой вы человек, что для вас важно в жизни?" ]
			},
			"aboutnurse": {
			"first": [ "Раскажите о своем опыте работы с больными и престарелыми людьми" ],
			"second": [
			"Если у вас есть какое-нибудь специальное образование, которое вы можете применить в работе сиделки— напишите об этом"
			],
			"third": [ "Расскажите, откуда вы родом. Приходилось ли вам ухаживать за больными или прастарелыми родственниками?" ],
			"fourth": [ "Расскажите о себе. Какой вы человек, что для вас важно в жизни?" ]
			},
			"abouthousekeeper": {
			"first": [ "Раскажите о своем опыте работы по дому" ],
			"second": [ "Расскажите, откуда вы родом. Приходилось ли вам заниматься домашним хозяйством в вашей семье?" ],
			"third": [ "Расскажите о себе. Какой вы человек, что для вас важно в жизни?" ]
			},
			"choice": {
			"citizenship": [ "Гражданство РФ" ],
			"right_work": [ "Право на работу", "Право на работу в РФ" ],
			"have_children": [ "Есть свои дети" ],
			"not_smoke": [ "Не курю" ],
			"pets": [ "Работа в доме с животными" ],
			"travel": [ "Путешествия с семьей" ],
			"town": [ "Переезд в другой город" ],
			"have_driver_license": [ "С правами", "Есть водительское удостоверение" ],
			"have_car": [ "Есть свой автомобиль", "Есть свой автомобиль" ],
			"not_criminal": [ "Cправка о несудимости", "Cправка о несудимости" ],
			"experience_kid_org": [ "Опыт работы в детском учреждении", "Опыт работы в детском учреждении" ],
			"worship": [ "Вероисповедание" ],
			"live_in_garegiver_program": [ "LIVE IN CAREGIVER PROGRAM" ],
			"medical_book": [ "Медицинская книжка" ],
			"can_pets": [ "Могу работать в доме с животными" ],
			"can_relocate": [ "Готов к переезду" ],
			"can_travel": [ "Готов путешествовать с семьей в случае необходимости" ]
			},
			"citizenship": {
			"russian": [ "Россия", "Гражданство Россия" ],
			"ukrainian": [ "Украина", "Гражданство Украина" ],
			"azerbaijanian": [ "Азербайджан", "Гражданство Азербайджан" ],
			"armenian": [ "Армения", "Гражданство Армения" ],
			"belarusian": [ "Белоруссия", "Гражданство Белоруссия" ],
			"georgian": [ "Грузия", "Гражданство Грузия" ],
			"kazakh": [ "Казахстан", "Гражданство Казахстан" ],
			"kyrgyz": [ "Киргизия", "Гражданство Киргизия" ],
			"latvian": [ "Латвия", "Гражданство Латвия" ],
			"lithuanian": [ "Литва", "Гражданство Литва" ],
			"moldavian": [ "Молдавия", "Гражданство Молдавия" ],
			"tajikistani": [ "Таджикистан", "Гражданство Таджикистан" ],
			"turkman": [ "Туркменистан", "Гражданство Туркменистан" ],
			"uzbekistanian": [ "Узбекистан", "Гражданство Узбекистан" ],
			"estonian": [ "Эстония", "Гражданство Эстония" ],
			"other": [ "Другое", "Гражданство Другое" ]
			},
			"policecheck": {
			"yes": [ "Проверка в полиции", "Проверка в полиции: да" ],
			"no": [ "Проверка в полиции", "Проверка в полиции: нет" ],
			"ready_to_obtain": [ "Проверка в полиции", "Проверка в полиции: готов получить" ]
			},
			"working_hours_per_week": {
			"twenty": [ "Двадцать", "Двадцать часов в неделю" ],
			"thirty_fourty": [ "Тридцать - сорок", "Тридцать - сорок часов в неделю" ],
			"fourty_fithty": [ "Сорок - пятьдесят", "Сорок - пятьдесят часов в неделю" ],
			"fifty": [ "Пятьдесят", "Пятьдесят часов в неделю" ],
			"twenty_thirty": [ "Двадцать - тридцать", "Двадцать - тридцать часов в неделю" ]
			},
			"user_errors": {
			"bithtdate_required": [ "Дата рождения - обязательное поле" ],
			"address_not_valid": [ "Адрес не валиден (нужно указать улицу или почтовый индекс)" ],
			"vacancyType_required": [ "Необходимо указать вид вакансии" ],
			"workerType_required": [ "Необходимо указать тип работника" ],
			"customer_not_exists": [ "Такого пользователя не существует" ],
			"employee_exists": [ "Пользователь уже имеет профиль работника" ],
			"working_condition_not_exists": [ "Условия работы с индексом: {0} не найдено" ],
			"working_skill_not_exists": [ "Умение с индексом: {0} не найдено" ],
			"liveinout_not_exists": [ "Проживание с индексом: {0} не найдено" ],
			"workingExperienceAge_not_exists": [ "Опыт работы (возраст детей) с индексом: {0} не найдено" ],
			"employment_not_exists": [ "Занятость с индексом: {0} не найдено" ],
			"login_failed": [ "Неверный логин или пароль" ],
			"error_occured": [ "Возникла ошибка" ]
			},
			"user_inputs": { "date_out_of_range": [ "Дата не валидна" ] },
			"vacancy_popup": {
			"distance": [ "РАССТОЯНИЕ" ],
			"payment": [ "ОПЛАТА" ],
			"dont_show_agency": [ "Не показывать объявления от агентств и детских садов" ],
			"descr": [ "ОПИСАНИЕ ДЕТЕЙ" ]
			},
			"worker_type": {
			"nanny": [ "Уход за детьми" ],
			"nurse": [ "Уход за престорелыми" ],
			"petcare": [ "Уход за животными" ],
			"housekeeper": [ "Помощь по дому" ],
			"tutor": [ "Обучение и развитие" ],
			"search": [ "Поиск" ],
			"search_of_nanny": [ "ПОИСК НЯНИ" ],
			"search_of_nurse": [ "ПОИСК СИДЛЕКИ" ],
			"search_of_housekeeper": [ "ПОИСК ДОМРАБОТНИЦЫ" ],
			"search_of_tutor": [ "ПОИСК РЕПЕТИТОРА" ],
			"search_of_petcare": [ "ПОИСК ЗООНЯНИ" ]
			},
			"vacancy_search": {
			"title": [ "Вакансий" ],
			"unauth_promo": [ "Лучший способ найти работу с детьми" ],
			"sort_by_0": [ "Самые свежие" ],
			"sort_by_1": [ "Стоимость" ],
			"sort_by_2": [ "Расстояние" ],
			"sort_by_Activity": [ "Самые свежие" ],
			"sort_by_Cost": [ "Стоимость" ],
			"sort_by_Distance": [ "Расстояние" ],
			"sort_by": [ "СОРТИРОВАТЬ ПО" ],
			"fromdistance": [ "На расстояниии" ],
			"from_you": [ "От Вас" ],
			"published": [ "Опубликовано" ],
			"show_more": [ "ПОКАЗАТЬ ЕЩЕ 10-ть НЯНЬ" ],
			"bc_60": [ "Вакансии по уходу за детьми" ],
			"agency": [ "Агентство" ]
			},
			"vacancy_search_tutor": {
			"unauth_promo": [ "Лучший способ найти работу репетитором" ],
			"thousand_vacancy": [ "Десятки новых вакансий каждый день!" ]
			},
			"accepted_filters": {
			"not_smoke": [ "Не курящие" ],
			"right_to_work": [ "С правом на работу в России" ],
			"have_driver_license": [ "С водительскими правами" ],
			"have_car": [ "Со своим автомобилем" ],
			"citizenship": [ "С гражданство РФ" ],
			"age_from": [ "Возраст от" ],
			"age_to": [ "Возраст до" ],
			"work_start_date": [ "Может начать работать с" ],
			"medical_book": [ "Есть мед книжка" ]
			},
			"accepted_filters_policecheck": {
			"1": [ "Есть справка о несудимости" ],
			"2": [ "Нет справки о несудимости" ],
			"3": [ "Готов получить справку о несудимости" ]
			},
			"accepted_filters_workingterms": {
			"1": [ "На долгий срок" ],
			"2": [ "На 1-3 месяца (на сезон)" ],
			"3": [ "По необходимости" ]
			},
			"accepted_filters_time_work": {
			"1": [ "Может работать утром" ],
			"2": [ "Может работать днем" ],
			"3": [ "Может работать вечером" ],
			"4": [ "Может работать ночью" ]
			},
			"vacancy_profile": {
			"number": [ "№ Вакансии" ],
			"answer_job": [ "Ответить на вакансию" ],
			"from_you": [ "От Вас" ],
			"published": [ "Опубликонанно" ],
			"child_count": [ "Количество детей" ],
			"child": [ "Детей" ],
			"age": [ "Возраст" ],
			"can_start_from": [ "Может начать работу с" ],
			"ride_up_to_you": [ "Ехать до вас" ],
			"hide_road": [ "СКРЫТЬ МАРШРУТ" ],
			"not_good_vacancy": [ "Объявление не подходит" ],
			"show_number": [ "ПОКАЗАТЬ НОМЕР" ],
			"another_near": [ "Другие надежные вакансии поблизости от вас" ],
			"skills": [ "Условия работы и обязоности" ],
			"duties": [ "Навыки и обязоности" ]
			},
			"create_rec": {
			"title": [ "ОСТАВИТЬ ОТЗЫВ" ]
			},
			"create_notice": {
			"title": [ "ОСТАВИТЬ ЗАМЕТКУ" ],
			"descr": [ "Вы можете оставить заметку о няне!" ]
			},
			"phone_popup": {
			"title": [ "Телефон няни" ],
			"descr": [ "Вы можете описать ваше взаимодействие с няней!" ],
			"add_to_contacts": [ "ДОБАВИТЬ В КОНТАКТЫ" ],
			"submit": [ "ОСТАВИТЬ ОТЗЫВ" ]
			},
			"msg_popup": {
			"title": [ "НАПИСАТЬ СООБЩЕНИЕ" ],
			"descr": [ "Вы можете оставить заметку о няне" ],
			"attach_vacancy": [ "ПРИКРЕПИТЬ ВАКАНСИЮ" ],
			"submit": [ "ОТПРАВИТЬ СООБЩЕНИЕ" ]
			},
			"answer_job": {
			"title": [ "ОТВЕТ НА ВАКАНСИЮ" ],
			"descr": [ "Вы можете написать тут ответ" ],
			"attach_last_msg": [ "ВСТАВИТЬ ПОСЛЕДНЕЕ СООБЩЕНИЕ" ],
			"submit": [ "ОТПРАВИТЬ" ],
			"comment": [ "Ссылка на вашу анкету будет добавлена автоматически" ],
			"attach_last": [ "ВСТАВИТЬ ПОСЛЕДНЕЕ Сообщение" ]
			},
			"genders": {
			"genders": [ "Пол" ],
			"male": [ "Мужской" ],
			"famale": [ "Женский" ]
			},
			"upload_photo": {
			"title": [ "ВАША ФОТОГРАФИЯ" ],
			"photo_title": [ "Как будет выглядеть фотография:" ],
			"submit": [ "СОХРАНИТЬ" ]
			},
			"upload_photo_preview": {
			"title": [ "ЗАГРУЗКА ФОТО" ],
			"submit_file": [ "ЗАГРУЗИТЬ ФАЙЛ" ],
			"descr": [ "Выберите хорошую фотографию. Тогда работодатели будут обращаться к вам более охотно." ],
			"only_face": [ "На фотографии должно быть четко видно ваше лицо, она не должна быть слишком темной или размытой." ],
			"like_professional": [ "Вы должны выглядеть как профессионал." ],
			"face_to_face": [
			"На фотографии не должно быть посторонних людей. Не используйте изображения детей без согласия их родителей."
			],
			"smile": [ "Улыбайтесь!" ],
			"loader_title": [ "Загруженно" ],
			"loaded": [ "Загруженно" ],
			"loaded_size_exceed": [ "Допустимый размер файла превышен" ],
			"loaded_type_invalid": [ "Допустимый тип файлов: " ]
			},
			"worker_profile_completed": {
			"title": [ "СОЗДАНИЕ АНКЕТЫ НЯНИ" ],
			"desc": [ "Ваша анкета СОХРАНЕНА и опубликована!" ],
			"goto_10": [ "Перейти к созданию анкеты няни" ],
			"goto_20": [ "Перейти к созданию анкеты сиделки" ],
			"goto_30": [ "Перейти к созданию анкеты домработницы" ],
			"goto_40": [ "Перейти к созданию анкеты зооняни" ],
			"goto_50": [ "Перейти к созданию анкеты репетитора" ],
			"next": [ "К СЛЕДУЮЩЕЙ АНКЕТЕ" ],
			"or": [ "Или" ],
			"submit_recommendation": [ "Добавить рекомендации" ],
			"submit_docs": [ "Добавить документы" ]
			},
			"workplace": {
			"home": [ "На дому у репетитора" ],
			"employer": [ "У работодателя" ],
			"children": [ "В детских центрах" ],
			"remotely": [ "Дистанционно" ]
			},
			"school_direction": {
			"direction_1": [ "Школьные предметы", "Школьные предметы" ],
			"direction_2": [ "Музыкальное", "Музыкальное" ],
			"direction_3": [ "Искусства", "Искусства" ],
			"direction_4": [ "Физкультура и спорт", "Физкультура и спорт" ],
			"direction_5": [ "Иностранные языки", "Иностранные языки" ]
			},
			"tutor_resume_popup": {
			"education": [ "Образование" ]
			},
			"error": {
			"title": [ "Что-то пошло не так!" ],
			"text": [
			"Вы назодитест здесь потому, что запрашиваемая страница не существует или была перемещена по другому адресу."
			],
			"link_work": [ "Поиск работы" ],
			"link_workers": [ "Поиск работников" ]
			},
			"header": {
			"find_worker": [ "Найти работника" ],
			"find_work": [ "Найти работу" ],
			"favorites": [ "Избранные" ],
			"blog": [ "Блог" ],
			"faq": [ "Частые вопросы" ],
			"work_nanny": [ "Уход за детьми" ],
			"work_housekeeper": [ "Помощь по дому" ],
			"work_nurse": [ "Уход за престорелыми" ],
			"work_tutor": [ "Обучение и развитие" ],
			"work_petcare": [ "Уход за животными" ],
			"nanny": [ "Поиск няни" ],
			"housekeeper": [ "Поиск домработницы" ],
			"nurse": [ "Поиск сиделки" ],
			"tutor": [ "Поиск репетитора" ],
			"petcare": [ "Поиск зооняни" ],
			"filters": [ "Что вы хотите видить в работнике" ],
			"filters_btn": [ "Настройка фильтров" ],
			"distance": [ "Расстояние в" ],
			"distance_from": [ "От" ],
			"price_until": [ "До" ],
			"price_hour": [ "Р в час" ],
			"logo": [ "Наша няня" ],
			"settings": [ "Настройка фильтров" ]
			},
			"chat": {
			"unanswered": [ "Неотвеченные" ],
			"archive": [ "Архив" ],
			"deleted": [ "Удаленные" ],
			"all": [ "Все" ],
			"notify": [ "Уведомление от сервиса" ],
			"send": [ "Отправить" ],
			"before_premium": [ "До преобритения Премиум-подписку вы можете только получать сообщения от нянь." ],
			"buy_premium": [ "Купить подписку" ],
			"show_ads": [ "Посмотреть объявления" ],
			"write_question": [ "Вы можете написать сюда ваши вопросы и служба поддержки вам быстро ответит!" ],
			"go_ads": [ "Перейти в объявление" ],
			"to_archive": [ "В архив" ],
			"paste_temp_msg": [ "Вставить готовый ответ" ],
			"paste_profile": [ "Вставить анкету" ],
			"request_for_rec": [ "Запросить рекомендацию" ],
			"chat_empty": [ "У вас пока нет переписок, вы можете добавить новую" ],
			"select_chat": [ "Выберите интересующий вас чат в боковой панели!" ],
			"return": [ "Вернуться к перепискам" ],
			"user_deactivated": [ "Пользователь деактивирован" ]
			},
			"dashboard": {
			"no_advert": [ "У вас пока нет объявлений, бесплатно добавьте его прямо сейчас" ],
			"add_advert": [ "Добавить объявление" ],
			"restore_advert": [ "Восстановить из архива" ],
			"your_ads": [ "Ваши объявления" ],
			"create_advert": [ "Создать объявление" ],
			"respond": [ "Откликнулось" ],
			"pro_in_town": [ "Pаботники Pro в вашем городе" ],
			"call_them": [ "Вы можете позвонить им прямо сейчас" ],
			"workers_viewed": [ "Работники которых вы смотрели" ],
			"new_workers": [ "Новые работники в вашем городе" ],
			"workers_watch_you": [ "Работники которые вас смотрели" ],
			"employers_watch_you": [ "Работодатели которые вас смотрели" ],
			"new_vacancy": [ "Новые вакансии в вашем городе" ],
			"account_off_vacancy": [ "Ваш аккаунт отключен. Работодатели не видят ваши анкеты и " ],
			"cant_contact": [ "Не могут с вами связаться" ],
			"account_off_workers": [ "Ваш аккаунт отключен. Работники " ],
			"many_guests": [ "У вас много гостей страницы" ],
			"only_premium": [ "Просмотр только для PREMIUM" ],
			"premium_buy": [ "Купить премиум" ],
			"premium_user": [ "Премиум аккаунт" ],
			"updated": [ "Обновленно" ],
			"account_on": [ "Включить аккаунт" ],
			"welcome_to_nanny": [ "Добро пожаловать на сайт “Наша Няня”!" ],
			"welcome": [ "Добро пожаловать, " ],
			"tariff_basic": [ " тариф “Базовый”." ],
			"tags_NannyResumeCondition": [ "Няню" ],
			"tags_TutorResumeCondition": [ "Репетитора" ],
			"tags_NannyVacancyCondition": [ "Няню" ],
			"tags_TutorVacancyCondition": [ "Репетитора" ]
			},
			"advices": {
			"tips_tricks": [ "Советы и инструкции" ],
			"all_instructions": [ "Все инструкции" ],
			"wich_nanny": [ "Какая няня Вам нужна" ],
			"employment_contract": [ "Трудовой договор" ],
			"true_search": [ "Правельный поиск няни" ],
			"personal_interview": [ "Личное собеседование" ],
			"phone_interview": [ "Телефонное собеседование" ],
			"how_interview": [ "Как собеседовать по телефону?" ]
			},
			"approve": {
			"please_confirm": [ "Пожалуйста, подтвердите свой " ],
			"please_confirm_address": [ "Пожалуйста, подтвердите свой адрес " ],
			"cant_contact_workers": [ "Без этого вы не сможете связываться с работниками." ],
			"phone_not_confirmed": [ "У ВАС НЕ ПОДТВЕРЖДЕН ТЕЛЕФОН" ],
			"email_not_confirmed": [ "У ВАС НЕ ПОДТВЕРЖДЕНА ПОЧТА" ],
			"confirm_email": [ "Посмотрите свою почту,  у вас там должно быть письмо с необходимой информацией. Если его нет" ],
			"phone_number": [ "Номер телефона." ],
			"email": [ " электронной почты" ],
			"approve": [ "Подтвердить" ],
			"write_use": [ "Напишите нам нам" ],
			"thanks_phone": [ "СПАСИБО, ваш телефон подтвержден" ],
			"thanks_email": [ "СПАСИБО, ваша почта активна" ]
			},
			"articles": {
			"title": [ "Новые работники в вашем городе" ],
			"more": [ "Наш блог" ]
			},
			"premium": {
			"permissions_standart": [ "Вам доступны основные возможности сайта. Приобретите " ],
			"premium_subscr": [ "ПРЕМИУМ-ПОДПИСКУ" ],
			"pro_status": [ "ПРОФЕССИОНАЛЬНЫЙ СТАТУС" ],
			"no_limit": [ "Чтобы получить доступ к контактным данным работников и общаться с ними без ограничений. " ],
			"go_pro": [ " ПЕРЕЙТИ НА СТАТУС «PRO»" ],
			"all_things": [ "Вам доступны все возможности сайта. " ],
			"all_things_until": [ "Вам доступны все возможности сайта до " ],
			"good_search": [ "Удачного поиска!" ],
			"good_search_work": [ "Удачного поиска работы!" ],
			"extend": [ " Продлить подписку" ]
			},
			"last_search": {
			"last_search": [ "В прошлый раз вы искали " ],
			"search": [ "Искать" ]
			},
			"worksheet": {
			"your_profiles": [ "Ваши анкеты" ],
			"add_video": [ "Добавьте ваше видео" ],
			"add_review": [ "Добавьте отзывы" ],
			"improve_profiles": [ "Улучшить анкеты" ],
			"no_skills": [ "У вас нет в анкете умений" ]
			},
			"buy": {
			"premium_subscription": [ "Премиум-подписка" ],
			"call_workers": [ "Звоните и пишите работникам напрямую" ],
			"get_answers": [ "Получайте ответы на ваши объявления без ограничений" ],
			"check_recommendations": [ "Изучайте рекомендации, документы, страницы в соцсетях" ],
			"access_database": [ "Доступ к телефонным номерам 50 тысяч нянь" ],
			"ability_correspond": [ "Возможность переписываться с работниками без ограничений" ],
			"recommendations_text": [ "Тексты письменных рекомендаций и контакты рекомендателей" ],
			"social_links": [ "Cсылки на страницы работников в социальных сетях" ],
			"have_coupon_indicate": [ "У вас есть код на скидку? Укажите его здесь:" ],
			"have_coupon": [ "У вас есть код на скидку?" ],
			"indicate": [ "Укажите его" ],
			"making_payment": [
			"При проведении платежа будут использованы ваше имя и адрес, которые вы указали при регистрации. "
			],
			"change": [ "Изменить" ],
			"subscription_rules": [ "Правила подписки" ],
			"hit": [ "Хит" ],
			"buy": [ "Купить" ],
			"platon_payment": [ "Платежи осуществляются системой Platron. Мы принимаем все виды оплаты!" ]
			},
			"subscription": {
			"select_subscr_type": [ "Выберите свой тип подписки:" ]
			},
			"restore": {
			"password_restore": [ "Восстановление пароля" ],
			"enter_email": [ "Введите вашу почту для восстановления" ],
			"restore": [ "Восстановить" ],
			"send_on_email": [ "Мы отправили на вашу почту " ],
			"link_restore": [ " ссылку для востановления пороля" ],
			"to_front": [ "На главную" ],
			"create_new_password": [ "Придумайте новый пароль" ],
			"create_your_password": [ "Придумайте себе пароль" ],
			"change": [ "Заменить" ],
			"we_change_password": [ "Мы заменили ваш пароль от " ],
			"try_to_enter": [ " аккаунта, вы можете попробовать войти" ]
			},
			"documents": {
			"docs_certificates": [ "Документы и сертификаты" ],
			"checked": [ "Проверено" ]
			},
			"personal": {
			"personal_data": [ "ЛИЧНЫЕ ДАННЫЕ и социальные сети" ],
			"change_photo": [ "Заменить фотографию" ],
			"change_pass": [ "Сменить пароль" ],
			"atach_account": [ "ПРИВЯЗАТЬ АККАУНТ" ],
			"unatach_account": [ "Отвязать АККАУНТ" ],
			"authorized_as": [ "Аторизовались как" ],
			"show_phone": [ "Показывать мой номер работодателям" ]
			},
			"ads": {
			"your_ads": [ "Ваши объявления" ],
			"actual_ads": [ "Актуальные объявления" ],
			"archive_ads": [ "Объявления в архиве" ],
			"in_archive": [ "В архиве" ],
			"add_ad": [ "+добавить объявление" ],
			"updated": [ "Обновленно" ],
			"new_response": [ "Новых откликов" ],
			"all_response": [ "Все отклики по данной вакансии" ]
			},
			"pager": {
			"from": [ "Из" ]
			},
			"guest": {
			"page_guests": [ "ГОСТИ ВАШЕЙ СТРАНИЦЫ" ],
			"name_guest_page": [ "ИМЯ ГОСТЯ ВАШЕЙ СТРАНЦЫ" ],
			"searched": [ "ИСКАЛ" ],
			"visit_time": [ "ВРЕМЯ ПОСЕЩЕНИЯ" ],
			"actions": [ "ДЕЙСТВИЯ" ]
			},
			"profile_menu": {
			"personal_profile": [ "ЛИЧНЫЙ КАБИНЕТ" ],
			"drag_photo": [ "Просто перетащите сюда  ваше фото, для того чтоб вам писали работодатели в 2x больше!" ],
			"control_panel": [ "Панель управления" ],
			"personal_data": [ "Личные данные" ],
			"messages": [ "Сообщения" ],
			"notes": [ "Заметки" ],
			"improve_profile": [ "УЛУЧШЕНИЕ АНКЕТЫ" ],
			"page_guests": [ "Гости страницы" ],
			"notify_settings": [ "НАСТРОЙКИ УВЕДОМЛЕНИЙ" ],
			"payment_settings": [ "НАСТРОЙКИ платижей" ],
			"only_premium": [ "Только для PREMIUM" ],
			"settings": [ "Настройки" ],
			"premium": [ "Премиум" ]
			},
			"document_upload": {
			"confirm_your_prof": [ "Подтвердите свой профессионализм" ],
			"show_trust": [
			"Покажите, что вам можно доверять Загрузите копии паспорта, дипломов об образовании и других документов."
			],
			"quality_profile": [ "Качество анкеты" ],
			"doc_type": [ "Выбирите тип документа" ],
			"specify_document": [ "Указать свое название документа" ],
			"passport": [ "Паспорт" ],
			"driver_license": [ "Водительские права" ],
			"criminal_record": [ "Справка об отсутствие судимости" ],
			"courses_certificate": [ "Сертификат курсов" ],
			"montessori_certificate": [ "Сертификат Монтесори" ],
			"not_uploaded": [ "У Вас пока что не загружено ни одного документа" ]
			},
			"errors_auth": {
			"wrong_credentials": [ "Неправильный логин или пароль" ],
			"refresh_fail": [ "Возникла проблема с обновлением состояния авторизации. Пожалуйста, зайдите на сайт заново." ],
			"access_denied": [ "У вас недостаточно прав для выполнения данной операции" ],
			"username_busy": [ "Такой адрес электронной почты уже существует" ],
			"unauthorized": [ "У вас не хватает прав для посещения данной страницы." ]
			},
			"payment_control": {
			"payment_settings": [ "Настройка платежей" ],
			"choosen_plan": [ "План который вы выбрали" ],
			"change_plan": [ "Для того чтоб его изменить просто нажмите на другой тип тарифа:" ],
			"your_orders": [ "Ваши заказы" ],
			"your_orders_on_paysystems": [ "Тут представленны ваши заказы которые вы преобрели через платежные системы." ],
			"change_subscription": [ "Отменить подписку" ],
			"payment_date": [ "Дата платежа" ],
			"number": [ "Номер" ],
			"summ": [ "Сумма" ],
			"payment_period": [ "Период оплаты" ],
			"tariff": [ "Тариф" ],
			"state": [ "Состояние" ],
			"download_receipt": [ "Скачать квитанцию" ],
			"cancel_payment": [ "Отменить автоплатеж" ],
			"coupon": [ "Купон" ],
			"certificate": [ "СЕРТИФИКАТ" ],
			"not_active": [ "НЕ АКТИВНЫЙ" ],
			"return": [ "ВОЗВРАТ" ],
			"work_days": [ "Рабочих дней" ],
			"change_data": [ "Изменить данные плательщика" ],
			"waiting_payment": [ "Ожидаем оплаты в течении" ],
			"accepted": [ "Принят" ],
			"confirmed": [ "Подтвержден" ],
			"refund": [ "Возврат" ]
			},
			"resume_popup": {
			"add_resume": [ "Добавить анкету" ]
			},
			"document_popup": {
			"thanks_for_quest": [ "Спасибо за создание анкеты!" ],
			"publish_after_moderation": [ "Она будет опубликована после проверки модератором" ]
			},
			"guide": {
			"nanny_hiring": [ "Nanny Hiring Guide & Resources" ],
			"some_resources": [
			"Here are some resources we’ve collected over the years for nannies and families. Have a look: the links here will help you during the interview process, screening, reference checks, background checks, nanny contracts, setting up nanny payroll, and more."
			],
			"missing_something": [ "Missing something?" ],
			"let_us_know": [ "Let us know!" ]
			},
			"employee_doc_type": {
			"choose": [ "Выбирите тип документа" ],
			"custom": [ "Другой документ" ],
			"passport": [ "Паспорт" ],
			"driver_license": [ "Водительские права" ],
			"criminal": [ "Справка об отсутствие судимости" ],
			"courses": [ "Сертификат курсов" ],
			"mentessori": [ "Сертификат Монтесори" ]
			},
			"payment": {
			"wait_clearing": [ "Ожидание подтверждения платежа" ],
			"pay_failure": [ "Оплата не удалась!" ],
			"thanks": [ "Спасибо за оплату!" ],
			"we_checking": [ "Мы проверяем вашу оплату" ],
			"sample_of_types": [
			"A sample of the types of questions you want to ask during the interview process when hiring a nanny."
			]
			},
			"blog": {
			"our_blog": [ "Наш блог" ],
			"categories": [ "Categories" ]
			},
			"complaint_dlg": {
			"title": [ "Стукануть" ]
			},
			"settings": {
			"settings": [ "Настройки" ],
			"privacy_settings": [ "Настройки приватности" ],
			"show_phone": [ "Показывать мой телефон работникам/работодателям" ],
			"show_questionary": [ "Показывать работникам, что я просматривал их анкету" ],
			"search_index": [ "Индексировать мою анкету поисковыми системами" ],
			"search_index_ad": [ "Индексировать мои объявления поисковыми системами" ],
			"notify_settings": [ "Настройки уведомлений" ],
			"notify_type": [ "ТИП УВЕДОМЛЕНИЯ" ],
			"mode": [ "РЕЖИМ" ],
			"new_vacancy": [ "Новые вакансии по вашим анкетам" ],
			"feature_stories": [ "Тематические статьи и полезные советы" ],
			"improve_recommendations": [ "Рекомендации по улучшению анкеты" ],
			"messages_from_users": [ "Сообщения от других пользователей" ],
			"message_remind": [ "Напоминания о неотвеченных письмах" ],
			"site_news": [ "Новости сайта" ],
			"account_settings": [ "Настройки аккаунта" ],
			"deactivate_profile": [ "Деактивировать мою учетную запись" ],
			"activate_profile": [ " Восстановить работу аккаунта" ],
			"new_workers": [ "Новые работники по вашим объявлениям" ],
			"improve_recommendations_ad": [ "Рекомендации по улучшению объявления" ],
			"become_worker": [ "Стать работником" ],
			"become_employer": [ "Стать работодателем" ],
			"show_all": [ "Показать всем" ],
			"dont_show": [ "Не показывать никому" ],
			"no_index": [ "Не индексировать" ],
			"send_whith_sms": [ "Присылать немедлено с СМС" ],
			"send_whithout_sms": [ "Присылать немедленно без СМС" ],
			"receive_everyday": [ "Присылать ежедневно" ],
			"receive_everyweek": [ "Присылать раз в неделю" ],
			"cancel_notify": [ "Отменить уведомления" ]
			},
			"exceed": {
			"opened": [ "Вы открыли более 30 телефонных номеров нянь." ],
			"spammer_fight": [
			"! В целях борьбы со скаммерами мы не разрешаем одному пользователю открывать более 30 номеров в сутки. Пожалуйста, возращайтесь на сайт завтра."
			]
			},
			"more_info": {
			"more_info": [ "Немного больше информации" ]
			},
			"verify": {
			"email_accept": [ "Спасибо, ваша почта подтверждена" ],
			"email_accept_text": [ "A sample of the types of questions you want to ask during the interview process when hiring a nanny." ],
			"email_fail": [ "Произошла ошибка, ваша почта не подтверждена" ],
			"try_later": [ "Попробуйте позже" ],
			"confirm_phone": [ "ПОДТВЕРДИТЕ ТЕЛЕФОН" ],
			"your_phone": [ "Ваш телефон" ],
			"confirm_code": [ "Код подтверждения" ],
			"retry_upload": [ "Повторить отправку" ],
			"get_code": [ "ПОЛУЧИТЬ КОД" ],
			"phone_confirmed": [ "Ваш номер телефона подтвержден!" ],
			"phone_not_confirmed": [ "Ваш номер телефона не подтвержден!" ],
			"go_search": [ "ПЕРЕЙТИ К ПОИСКУ" ],
			"confirm_later": [ "Подтвердить позже" ],
			"try_count_exceed": [ "Превышено число попыток отправки смс" ],
			"cannot_send": [ "Не удалось отправить сообщение" ],
			"already_verified": [ "Телефон уже подтвержден" ],
			"token_invalid": [ "Неверно введен код" ],
			"email_token_invalid": [ "Ссылка устарела" ]
			}
			};
			var val = ["accepted_filters_policecheck|1","accepted_filters|age_from","accepted_filters|age_to","accepted_filters|citizenship","accepted_filters|have_car","accepted_filters|have_driver_license","accepted_filters|medical_book","accepted_filters|not_smoke","accepted_filters|right_to_work","accepted_filters|work_start_date","ads|all_response","children_count|any","children_count|one_two","children_count|out","choice|have_children","citizenship|armenian","citizenship|azerbaijanian","citizenship|belarusian","citizenship|estonian","citizenship|georgian","citizenship|kazakh","citizenship|kyrgyz","citizenship|latvian","citizenship|lithuanian","citizenship|moldavian","citizenship|other","citizenship|russian","citizenship|tajikistani","citizenship|turkman","citizenship|ukrainian","citizenship|uzbekistanian","common|delete","common|edit","common|from","common|print","common|year_2","common|year_3","education|academic","education|btn_select_your","education|carers_courses","education|child_education","education|college","education|firstaid","education|medical","education|montessori","education|music","education|nannies","education|nurse_course","education|student","education|title_select_your_short","employment|full","employment|full_or_part","employment|part","landing|tlp_you_can_call_now","languages|afrikaans","languages|albanian","languages|americansignlanguage","languages|arabic","languages|armenian","languages|azerbaijani","languages|bahasamalaysia","languages|bangala","languages|bavarian","languages|belorussian","languages|bengali","languages|bosnian","languages|bulgarian","languages|cantonese","languages|catalan","languages|creole","languages|croatian","languages|czech","languages|danish","languages|dutch","languages|english","languages|estonian","languages|farsi","languages|finnish","languages|flemish","languages|french","languages|georgian","languages|german","languages|greek","languages|gujerati","languages|haitian-creole","languages|hebrew","languages|hindi","languages|hungarian","languages|icelandic","languages|irish","languages|italian","languages|japanese","languages|javanese","languages|kazakh","languages|korean","languages|kyrgyz","languages|latin","languages|latvian","languages|lithuanian","languages|macedonian","languages|maltese","languages|mandarin","languages|moldavian","languages|mongolian","languages|nepalese","languages|norwegian","languages|patois","languages|polish","languages|portuguese","languages|punjabi","languages|romanian","languages|russian","languages|sardinian","languages|scots","languages|serbian","languages|slovak","languages|slovenian","languages|spanish","languages|swedish","languages|tagalog","languages|tajik","languages|tamil","languages|tatar","languages|thai","languages|turkish","languages|turkmen","languages|ukrainian","languages|urdu","languages|uzbek","languages|vietnamese","languages|yiddish","last_search|search","liveinout|in","liveinout|in_or_out","liveinout|out","policecheck|no","policecheck|ready_to_obtain","policecheck|yes","school_direction|direction_1","school_direction|direction_1","school_direction|direction_2","school_direction|direction_2","school_direction|direction_3","school_direction|direction_3","school_direction|direction_4","school_direction|direction_4","school_direction|direction_5","school_direction|direction_5","teaching_age|adults","teaching_age|six_ten","teaching_age|sixteen_seventeen","teaching_age|teaching_age","teaching_age|ten_fifteen","teaching_age|three_five","teaching_age|working_ages","tutor_education|bachelor_degree_specialist","tutor_education|college","tutor_education|master_degree","tutor_education|science_degree","tutor_education|secondary_school","tutor_education|teacher_education","tutor_education|technical_сollege","tutor_education|technical_college","tutor_education|tutor_education","tutor_subtype|private_tutor","tutor_subtype|teacher_kindergarten","tutor_subtype|tutor_subtype","tutor_workplace|educator","tutor_workplace|employer_place","tutor_workplace|kindergarten","tutor_workplace|remote","tutor_workplace|tutor","tutor_workplace|tutor_place","tutor_workplace|tutor_workplace","vacancy_search|fromdistance","vacancy_search|fromdistance","vacancy_search|fromdistance","vacancy_search|fromdistance","working_condition|can_move","working_condition|can_night","working_condition|can_travel","working_condition|with_animals","working_skills|accompnying","working_skills|accompnying","working_skills|accounting_expenses_paying_bills","working_skills|accounting_expenses_paying_bills","working_skills|babysitting","working_skills|babysitting","working_skills|bathing","working_skills|bathing","working_skills|bedpan_help","working_skills|bedpan_help","working_skills|body_surface_care","working_skills|body_surface_care","working_skills|buying_products","working_skills|buying_products","working_skills|care","working_skills|care","working_skills|care_pet","working_skills|care_pet","working_skills|clean_home","working_skills|clean_home","working_skills|clean_kitchen","working_skills|clean_kitchen","working_skills|clean_outside","working_skills|clean_outside","working_skills|clean_room","working_skills|clean_room","working_skills|clothes_iron","working_skills|clothes_iron","working_skills|controlling_other_domestic_workers","working_skills|controlling_other_domestic_workers","working_skills|cooking","working_skills|cooking","working_skills|events","working_skills|events","working_skills|help_change_catheter","working_skills|help_change_catheter","working_skills|help_sick_and_elderly","working_skills|help_sick_and_elderly","working_skills|home_works","working_skills|home_works","working_skills|injections","working_skills|injections","working_skills|keeping_order","working_skills|keeping_order","working_skills|montessori_method","working_skills|montessori_method","working_skills|nikitin_method","working_skills|nikitin_method","working_skills|own_detergents","working_skills|own_detergents","working_skills|own_equipment_harvesting","working_skills|own_equipment_harvesting","working_skills|patient_movement","working_skills|patient_movement","working_skills|patient_supporting","working_skills|patient_supporting","working_skills|plant_care","working_skills|plant_care","working_skills|postoperative_patients","working_skills|postoperative_patients","working_skills|prepare_for_exam","working_skills|prepare_for_exam","working_skills|prepare_for_school","working_skills|prepare_for_school","working_skills|primary_school","working_skills|primary_school","working_skills|reception_desk","working_skills|reception_desk","working_skills|sport_physiotherapy","working_skills|sport_physiotherapy","working_skills|staff_control","working_skills|staff_control","working_skills|toilet_room_help","working_skills|toilet_room_help","working_skills|tube_feeding_diet","working_skills|tube_feeding_diet","working_skills|waldorf_method","working_skills|waldorf_method","working_skills|washing","working_skills|washing","working_skills|with_disabled","working_skills|with_twince","working_skills|with_twince","working_skills|working_skills","working_skills|zaitsev_method","working_terms|long_time","working_terms|necessity","working_terms|season"];
			// console.log(val);
			var $table = $('#table');
			val.forEach(function(item, i, arr) {
				var first = item.substr(0, item.indexOf('|'));
				var second = item.substring(item.indexOf("|") + 1);
				if (second != ''){
					$table.append('<tr><td>'+i+'</td><td>'+item+'</td><td>'+obj[first][second]+'</td></tr>')
				};
			});